[2022-03-15 09:47] alanakbik commented on #2676
Hello, @Sharing-Sam-Work yes there is a direct equivalent. Set

[code]

to get reproducible results!

[2022-03-15 09:48] Sharing-Sam-Work commented on #2676
Thank you very much for the quick answer ! :)

[2022-03-15 10:21] Sharing-Sam-Work commented on #2676
Hello,
I tried setting the seed, but I still get different results for the code above (max epoch = 2)

##### Result 1
          {'test_score': 0.0,
           'dev_score_history': [0.06741573033707865, 0.16129032258064516],
           'train_loss_history': [3.247536113029466, 2.3094709477152393],
           'dev_loss_history': [tensor(2.1150, device='cuda:0'),
            tensor(0.9884, device='cu

[2022-03-15 10:21] Sharing-Sam-Work commented on #2676
Hello,
I tried setting the seed, but I still get different results for the code above (max epoch = 2)

##### Result 1
          {'test_score': 0.0,
           'dev_score_history': [0.06741573033707865, 0.16129032258064516],
           'train_loss_history': [3.247536113029466, 2.3094709477152393],
           'dev_loss_history': [tensor(2.1150, device='cuda:0'),
            tensor(0.9884, device='cu

[2022-03-15 10:23] alanakbik commented on #2676
You need to re-set the seed for each experiment individually. For instance, when I do a parameter sweep with a for-loop, I set the seed at the beginning of each experiment (before the model is initialized).

[2022-03-15 10:28] Sharing-Sam-Work commented on #2676
Thank you it worked!

[2022-03-15 10:28] #2676 closed

[2022-03-15 10:30] #2503 closed

[2022-03-15 10:30] #2554 closed

[2022-03-15 17:28] Lingepumpe commented on #2672
Update:

After some reading I decided to rework my pull request to not cap versions of dependency "from above", against the advice in the above poetry FAQ link. This seems to be best practice for applications, but for a library like flair it seems best to not cap versions from above unless absolutely necessary - this should allow an easier integration of the library into existing ecosystems.

Also

[2022-03-15 17:50] ayyoobimani opened #2677 "How multilingual data is handled with CRF layer by sequence tagger."
[This tutorial](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_7_TRAINING_A_MODEL.md)  suggests that to train a multilingual sequence tagger, all we need to do is to use a MultiCorpus object and use multilingual embeddings.

My understanding of CRFs is that it stores a transition matrix that should be unique for each language. for example, the probability of having a noun af

[2022-03-15 20:07] alanakbik commented on #2677
Hello @ayyoobimani you're right: in this case, the CRF probably does not make much sense because of the different transition probabilities per language. But in general, we found that the CRF does not improve performance much for POS tasks over just using an RNN. So for multilingual POS tagging, I'd recommend just using the RNN.

There will soon also be an option for true multi-task learning in whi

[2022-03-16 09:28] ayyoobimani commented on #2677
Thanks a lot :)

[2022-03-16 09:28] #2677 closed

[2022-03-16 10:29] Sharing-Sam-Work opened #2678 "Span to BIO ColumnCorpus for transformer tokenization"
#### Problem

I have ner annotated data stored in a json file, with a format that is similar to the format output by the to_dict method of the sentence class, where an annotation is characterized by the index of its start and end characters.

        sentence.to_dict(tag_type='ner')

        {'text': 'George Washington went to Washington.',
            'entities': [
                {'text': 'Georg

[2022-03-16 14:49] agademic opened #2679 "Multi-label or overlapping annotations predictions"
Is it possible to train a Flair NER-sequence-tagger on overlapping annotations?

I found that you introduced multi-label predictions in 2021 but I am not sure whether that fits my problem. Unfortunately, I didn't find any documentation pointing to that use case.

What I'm thinking of is to train a tagger to predict multiple labels for certain tokens, like:

`Span [1,2]: "George Washington"   [− La

[2022-03-16 19:28] helpmefindaname commented on #2678
Hey @Sharing-Sam-Work if you checkout the master (it isn't yet in the latest release), you can use the [JsonlCorpus](https://github.com/flairNLP/flair/blob/master/flair/datasets/sequence_labeling.py#L103) that does the internal mapping using the default flair tokenizer.

In general:
You can use whatever tokenizer you want and the transformer subtokens will be mapped to those. The tokenizer you are

[2022-03-17 08:18] alanakbik commented on #2679
Hello @agademic not currently (the `SequenceTagger` predicts one label per word), but @susannaruecker is currently working on a "span tagger" that will be able to do overlapping annotations and will likely be added soon.

[2022-03-17 10:31] alanakbik commented on #2670
Thanks for reporting this! I think the problem of ordering embeddings in `StackedEmbeddings` may already be fixed in master branch, but I'm not so sure. @plonerma can you take a look at this problem?

[2022-03-17 12:05] agademic commented on #2679
Hi @alanakbik! Thank you for your quick response and the clarification. That's great to hear also, I cannot wait to try the new span tagger!

[2022-03-17 12:05] #2679 closed

[2022-03-17 15:39] plonerma commented on #2670
Hey @why-in-Shanghaitech , thanks for the info! I will take a look and then get back to you!

[2022-03-17 18:31] GDBSD commented on #1774
I getting an error "_Token indices sequence length is longer than the specified maximum sequence length for this model"_ . I attempt to truncate the sentence with the code block below. How can I truncate the sentence so as not to get this error?

        raw_text = raw_text.translate(str.maketrans('', '', string.punctuation))
        text_list = raw_text.split()
        text_list = text_list[0:500

[2022-03-17 21:13] alanakbik commented on #1774
@GDBSD the maximum length refers to "subtokens", meaning a single word might be split into several subtokens. So if you limit your text to 500 words, some of them might be split, taking the total over 512. To be completely sure that subtokenization does not take you over 512, you could truncate your text to 512 characters.

[2022-03-18 00:33] #2493 closed

[2022-03-18 00:33] #2505 closed

[2022-03-18 00:33] #2506 closed

[2022-03-18 04:48] GDBSD commented on #1774
Got it - thanks.

[2022-03-18 12:33] lukasgarbas commented on #2668
Hi @tanujjain, you are probably referencing the code from the current version but using Flair 0.9 https://github.com/flairNLP/flair/tree/v0.9.

`use_tensorboard` and `tensorboard_log_dir` parameters were moved from the constructor to `ModelTrainer.train` in the latest version.

[2022-03-18 13:04] plonerma commented on #2670
@why-in-Shanghaitech , I am struggling to reproduce the behavior you described. It would be great, if you could provide some more context:
- How are you loading the model?
- How are you verifying that the loaded model has not be trained?

The way you describe the issue, it sounds like there is an issue with saving/loading the model. I tested the saving and loading on the versions you referenced (f

[2022-03-18 15:04] why-in-Shanghaitech commented on #2670
Hi, @plonerma ! Glad to see your reply!

I tried your code in flair-0.8.0.post1. Could you please add 3 lines of codes at the very end of your script:

[code]

And this is the output from my side:

[code]

Sure the model parameters are the same. Actually, when I create an identical model and load the parameters from the saved files, the behaviour is normal. But if the model is loaded from scratch,

[2022-03-18 15:26] plonerma commented on #2670
Perfect.

Are you by any chance saving and loading the models on different machine (i.e. one windows and one unix machine)? Then you might want to upgrade to 0.10 and see if the problem persists.

[2022-03-18 16:23] why-in-Shanghaitech commented on #2670
No, saving and loading take place in one single script... so absolutely in one machine. Thanks for the advice.

[2022-03-19 04:39] why-in-Shanghaitech commented on #2670
Change the embedding to:

[code]

And add these codes to the very end of your original script:

[code]

This is the output from my side:

[code]

I remembered that the order of the embedding doesn't matter but now it seems that I was wrong about this. See if this help.

[2022-03-19 21:20] HallerPatrick commented on #2644
Hey, I ran you code and getting a different result here:

[code]

Looks like `man was shot several times` gives quite the opposite result to yours. In your example it is also not passed to the `sentiment` function.

[2022-03-20 07:33] kashtabhanjan opened #2682 "Flair is using GPU space on multiple GPUs"
**Describe the bug**
Flair is not working as expected with multiple GPUs. I have two GPUs and I'm using multiprocessing to parallelize the flair NER tagging on my data. When I create a subprocess to initialize a GPU, I specify the device to be used for `flair.device`. This works for a few seconds (5-10 seconds), but after that time, all GPU instances start using `cuda:0`. Ideally, flair instances

[2022-03-21 06:10] #2668 closed

[2022-03-21 08:22] karthicknarasimhan98 opened #2683 "Wrong Detection - person entity"
**Describe the bug**
For any person entity, the prediction are added along with "hey"
Eg: "Hey Karthick"

**To Reproduce**
Model name - ner-english-fast, ner-english
Steps to reproduce the behavior (e.g. which model did you train? what parameters did you use? etc.).

**Expected behavior**
Eg: "Hey Karthick"
Predicitons from model: Hey Karthick PER
Expected predictions: Karthick PER

**Additional c

[2022-03-21 16:27] pg020196 commented on #2626
Hi @wassimsuleiman,

I recently faced a similiar problem on a machine without internet access and found the following workaround:

1. Find a machine that has unrestricted internet access and download the model using the following code. You can find this command on the hugginface hub website clicking the button `</> Use in flair`

[code]

2. Next, find the directory in which the flair models are st

[2022-03-22 03:17] Toan-it-mta commented on #2418
hi, have you solved this problem? If so, can you tell me how to solve it?

[2022-03-22 15:59] helpmefindaname commented on #2626
Hey @pg020196 you can use the current master branch, then it will work out of the box, if you redownload the model

[2022-03-23 13:18] pg020196 commented on #2626
Hi @helpmefindaname, thank you for your reply! Sorry for another need for clarification on my side: If i understand your comment correctly, you are referring to the master branch of the flair project and not of the master branch of the hugging face model, aren't you? Currently, I am using the latest package available through pip (flair 0.10).

Do I still have to initially download the model using

[2022-03-23 14:24] tsproisl commented on #2650
Thank you for the answer and the workaround!

[2022-03-23 14:24] #2650 closed

[2022-03-23 16:14] kaliaanup opened #2685 "Can I convert the flair fine-tuned model into a hugging face model?"
Hi I have created a flair fine-tuned model and I want to convert it into a HuggingFace representation. How can I do it?

[2022-03-23 16:38] HallerPatrick commented on #2685
Hey!

Not sure what you mean with HuggingFace representation, but if you want to add a model to HuggingFace, then I think you can look at [this](https://huggingface.co/docs/transformers/add_new_model). Otherwise here is a tutorial for [converting your model for all frameworks](https://huggingface.co/docs/transformers/add_new_model).

Greetings,
Patrick

[2022-03-23 17:11] kaliaanup commented on #2685
Thanks. Following is an example of a flair based fine-tuned model.

<img width="155" alt="Screen Shot 2022-03-23 at 1 07 00 PM" src="https://user-images.githubusercontent.com/8302569/159756100-987888dd-55d6-4c13-8b42-3946397b2176.png">

Following is an example of HuggingFace based fined tuned model.

<img width="217" alt="Screen Shot 2022-03-23 at 1 06 43 PM" src="https://user-images.githubusercon

[2022-03-23 17:34] kaliaanup commented on #2685
Thanks !!

[2022-03-23 18:34] plonerma commented on #2670
Hey @why-in-Shanghaitech , thanks for the additional information. I can reproduce the issue now. It's quite peculiar. The issue is fixed in the master branch, but it does exist in version 0.10. Since it won't be an issue in the upcoming version, I did not investigate it more deeply, but it is related to the naming, as you mentioned. When the model is loaded, the transformer embedding does not rece

[2022-03-23 19:30] HallerPatrick opened #2686 "Replace print with logging in model training"
**Is your feature/enhancement request related to a problem? Please describe.**

When using the ModelTrainer, everything is printed out through a logger, except for when the learning rate is reduced. This is just a normal print to stdout. See picture:

<img width="983" alt="Screenshot 2022-03-23 at 20 22 46" src="https://user-images.githubusercontent.com/22773355/159779701-29d24393-c28e-41c2-92eb-5

[2022-03-23 20:38] iliaNecrov opened #2687 "The model can be loaded only with a certain version of torch (ModuleNotFoundError: No module named 'torch.torch_version')"
I have trained a NER model with using
[code]
Then I tried:
[code]

It worked okay, but...

After I tried to load it from another device, where I had
[code]
[code]

I don’t know if this is normal, but I would like to clarify if I made a mistake somewhere or if this is a bug.

[2022-03-23 20:48] iliaNecrov commented on #2687
https://drive.google.com/file/d/1NxSw62QxQhv4gPWaXX9Gs6EYYZOPhsf7/view?usp=sharing

Attaching my model

[2022-03-24 02:12] why-in-Shanghaitech commented on #2670
Thanks for the help! Happy to know that the bug is fixed.

I'm currently using a wrapper class of `TransformerWordEmbeddings`:

[code]

So that we can use the embeddings as usual.

Since the problem has been solved, I'm closing this issue.

[2022-03-24 02:12] #2670 closed

[2022-03-24 03:26] alanakbik commented on #2686
@HallerPatrick this should be fixed in master branch -> https://github.com/flairNLP/flair/pull/2665

[2022-03-24 09:59] alanakbik commented on #2687
@iliaNecrov thanks for reporting this! I think this could be a problem in backwards compatibility in torch and not so much a flair issue. @aynetdia could you look into this?

[2022-03-24 10:33] helpmefindaname commented on #2626
Hi @pg020196 yes I refer to the master branch of flair.
It doesn't matter how you download the model, however you have to once load and save it again.
When saving, it will internally store a zip file containing the config/vocab/... files and use them when loading it the next time.

As you cannot do that on your target device, you need to install flair on a different device and run the load/save on

[2022-03-24 10:56] iliaNecrov commented on #2687
@alanakbik You are welcom! I have already faced some additional issues (memory errors) with torch==1.10.0.
And as it turns out, I'm not the only one..
https://github.com/pytorch/pytorch/issues/67680

[2022-03-24 14:58] pg020196 commented on #2626
Hi @helpmefindaname,
thank you for clarifying and answering my further questions. I just tried your approach and it works like a charm!

[2022-03-24 18:43] aynetdia commented on #2687
@iliaNecrov I have looked into this and was able to replicate the issue. Using `torch==1.9.1 or torch==1.7.0` to load the linked model raises the aforementioned error for me as well. Meanwhile `torch==1.10.0 or torch==1.11.0` works fine.

To me it also seems that the issue is caused by backwards compatibility problems on PyTorch's side, as @alanakbik mentioned. Flair implements the [recommended wa

[2022-03-25 08:35] alanakbik commented on #2687
@aynetdia thanks for looking into this! I guess in this case the best course of action would be to use the same torch version as before. Closing this issue, but feel free to reopen if there's more to discuss!

[2022-03-25 08:35] #2687 closed

[2022-03-25 14:15] pirwlan opened #2688 "HunFlair: Difference between "smallish" and "allcorpora" model"
Hello everyone,

I have a question regarding the individual HunFlair Models. For each entity but `Cell Line`, there seems to be two different models, one `smallish` and one `allcorpora`. I could not find any explanation of how these models are different, or any metric comparison. Could some explain the difference between the models?

[2022-03-25 15:09] alanakbik opened #2689 "Release Flair 0.11"
Time to do another release. This issue tracks the final changes and progress of releasing.

[2022-03-27 02:58] #2512 closed

[2022-03-27 02:58] #2515 closed

[2022-03-27 02:58] #2514 closed

[2022-03-27 02:58] #2523 closed

[2022-03-28 08:06] leonweber commented on #2688
Hey @pirwlan,

the `smallish` versions of the models are those we used to produce the results in the [HunFlair paper](https://academic.oup.com/bioinformatics/article/37/17/2792/6122692). These were not trained on any of the evaluation corpora CRAFT, BioNLP2013 CG and PDR. The training set of the default (non-smallish) models also includes these corpora. Does that answer your question?

[2022-03-28 10:51] torbenal opened #2690 "[Feature/enhancement] Documentation"
**Is your feature/enhancement request related to a problem? Please describe.**

After reading the FLERT paper I attempted to implement it on my own data/labels. The quick start guide & tutorials provide a good starting point but lack significant documentation. Very few classes/functions have any documentation at all, forcing me to look into the source code before understanding what a function does

[2022-03-29 02:52] abdullahmuaad9 commented on #2446
could you please send a bit more information with apply form or something? I would like to apply and try to enter the community.
now we are around April 2022 is there any updation
Thank you in advance

[2022-03-29 13:33] lirondos opened #2691 "Sharing Flair model in HuggingFace: "Distant resource does not have an ETag" error"
Hi!
I'm trying to upload a Flair model to HuggingFace model hub. When I try the model via the inference API console I get the following error:
`Distant resource does not have an ETag, we won't be able to reliably ensure reproducibility.`

I noticed that that same error happens in other Flair models on the HF model hub (for instance, [this one](https://huggingface.co/qanastek/pos-french-camembert-f

[2022-03-29 18:08] helpmefindaname commented on #2640
As long as you are not using the flair embeddings with flair version < 0.11, you can apply dynamic quantisation on all flair models that run on cpu. However, you cannot store them due to the way embeddings are stored.

[2022-03-29 20:36] shabnam-b opened #2692 "OneHotEmbeddings - RecursionError: maximum recursion depth exceeded"
**Describe the bug**
After the first epoch of training, when trying to save the model, the code crashes with the following error:

2022-03-29 14:42:47,611 DEV : loss 0.8668829202651978 - f1-score (micro avg)  0.7597
2022-03-29 14:42:47,665 BAD EPOCHS (no improvement): 0
2022-03-29 14:42:47,666 saving best model
Traceback (most recent call last):
  File "my_main.py", line 271, in <module>
    train

[2022-03-30 06:49] pirwlan commented on #2688
Hey  @leonweber,

Yes, that answers my question. Thanks a lot for getting back!

[2022-03-30 06:49] #2688 closed

[2022-03-30 09:54] alanakbik commented on #2692
Thanks for reporting this! @stw2 can you take a look if this error still occurs in master branch? I think it might be fixed already.

@shabnam-b can you provide a minimal example to reproduce? I.e. some small data with which to test the OneHotEmbeddings for field 'xml'?

[2022-03-30 09:56] alanakbik commented on #2691
@lirondos thanks for reporting this. @MaxDall can you take a look?

[2022-03-30 16:00] shabnam-b commented on #2692
Sure, the data looks like [this](https://drive.google.com/file/d/1Jha7SeKskSuWTJI5NE3nNLQAtZmBBXfW/view?usp=sharing).

[2022-03-30 17:19] yananchen1989 opened #2693 "How to get the ner string from flair.data.Label"
flair version: 0.10

Hello, I want to parse the ner string from flair.data.Label.

the ner type and score can be easily parsed:
<img width="337" alt="image" src="https://user-images.githubusercontent.com/26405281/160893788-c379b49e-9717-41e6-9e4d-e25e9ce75539.png">

but how to parse the ner in` sentence.get_labels('ner')[2]` :
<img width="377" alt="image" src="https://user-images.githubusercontent

[2022-03-31 03:56] selva221724 opened #2694 "Large dataset trianing gets stuck at epoch 1 (tired so many times)"
This is my code:

[code]

This is the output:

[code]

I tried changing the `Embeddings storage mode: cpu` to `Embeddings storage mode: none`. still, nothing works.

Flair version== `0.10`
torch==`1.11.0`
torchaudio==`0.11.0`
torchvision==`0.12.0`

[2022-03-31 12:17] stw2 commented on #2692
@alanakbik  there is no error in the master branch when including `OneHotEmbeddings` and running the [Tutorials](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_7_TRAINING_A_MODEL.md). also when using the data provided by @shabnam-b. I tried to reproduce the error in the environment in question, i.e, `flair`: 0.9, `torch`: 1.10.0,  `transformers`: 4.17.0, however everything w

[2022-03-31 14:16] helpmefindaname commented on #2694
I bet it doesn't get stuck, but just takes forever to do the evaluation of those 704k dev sentences. I would change the split that you only have about 10k dev sentences maximum and then be patient.

If that doesn't help:
When you stop the loop, you get an interrupt exception with a stack trace, there is usually important information on where it gets stuck.

[2022-03-31 15:30] kaliaanup opened #2695 "Plan to support RemBert?"
https://huggingface.co/docs/transformers/model_doc/rembert

https://github.com/google-research/multilingual-t5 (RemBert seems to be effective)

[2022-03-31 16:35] shabnam-b commented on #2692
I see. Thanks for looking into this. I think data size might also matter...I tried now and I don't get the error when running on a very small train/dev/test sets. Unfortunately, I can't put all the training set online because some parts of it that are under a different license. But here is more info:
Corpus: "Corpus: 7255 train + 826 dev + 877 test sentences"
and the training code:

[code]

Hope t

[2022-03-31 17:17] lirondos commented on #2691
Hi @MaxDall!
The issue seems to have been solved on its own and the inference API is now working fine. No idea what happened ¯\_(ツ)_/¯

Thanks anyway! :)

[2022-03-31 17:17] #2691 closed

[2022-03-31 18:33] kaliaanup commented on #2695
This works as follows. I am closing it.

embeddings = TransformerWordEmbeddings(model= "google/rembert",
                                       layers="-1",
                                       subtoken_pooling="first",
                                       fine_tune=True,
                                       use_context=True,
                                       )

[2022-03-31 18:33] #2695 closed, assigned to nobody

[2022-04-01 05:50] selva221724 commented on #2694
Hi @helpmefindaname ,

I have reduced the `dev` dataset to minimal and it is working like charm. It is completely resolved. Thanks

Epoch 2 is started to fly !!!

<img src="https://media2.giphy.com/media/j2pWZpr5RlpCodOB0d/giphy.gif" >

[2022-04-01 07:21] #2694 closed

[2022-04-01 09:30] eric890006 opened #2696 "If trained with StackedEmbeddings, NER performance very poor after reload the model"
Hello,

Thanks for all the efforts in developing flair. Recently, I find that when I use `StackedEmbeddings` in training NER models, the performance is very poor **after** reload the model (no problem when using 1 embedding). Below is my code for training CONLL 2003 NER dataset with 2 embeddings (singbert-lite-sg and distilbert-base-uncased) stacked:

[code]

The final performance is acceptable si

[2022-04-01 09:53] alanakbik commented on #2696
I believe this may be a duplicate of #2670 and if so this is fixed in master branch. You can install from master by doing
[code]

in a fresh environment (make sure flair is not already there otherwise it might not install it). Could you test if the error occurs if you use the master branch? We will release the new version very soon.

[2022-04-01 10:07] aniketmaurya opened #2697 "Scale Model Training with LightningLite"
**Is your feature/enhancement request related to a problem? Please describe.**
Hi, love this project 💜!
[Trainer](https://github.com/flairNLP/flair/blob/master/flair/trainers/language_model_trainer.py#L160) can be enhanced with support for multiple hardwares and distributed training when training with large dataset or model.

**Describe the solution you'd like**
We have been developing [LightningL

[2022-04-01 10:35] alanakbik commented on #2697
@aniketmaurya sounds interesting and we'd be happy to check out a draft PR!

There are two trainer classes currently, the `LanguageModelTrainer` you linked to is to train language models, and the `Trainer` class is to train all other models (NER, text classification, etc.). Let me know if you have any questions!

[2022-04-01 11:34] aniketmaurya commented on #2697
Thanks for response @alanakbik, I see both are of type `torch.nn.Module` so we can scale both of these. I will raise a draft PR soon.

[2022-04-01 12:51] elazzouzi1080 commented on #2540
Having the same issue?

[2022-04-01 12:57] Borda commented on #2697
Very nice! :purple_heart: Would love to see how PL could help here! :rabbit:

[2022-04-01 13:56] elazzouzi1080 opened #2699 "NER on custom data fails to start training and gets stuck before 1st epoch"
I'm trying to train a custom NER with falir using my data (BIO format).

    from flair.data import Corpus
    from flair.datasets import ColumnCorpus
    columns = {0 : 'text', 1 : 'ner'}
    data_folder = 'Data_french/'
    corpus: Corpus = ColumnCorpus(data_folder, columns,
                                  train_file = 'train.txt',
                                  test_file = 'test.txt',

[2022-04-01 14:50] eric890006 commented on #2696
Hi @alanakbik,

Thanks for your help. Just tested with `git+https://github.com/flairNLP/flair.git` and now the performance looks nice. The performance output from training:

[code]

And the performance after reload the model:

[code]

Thanks :)

[2022-04-01 14:50] #2696 closed

[2022-04-01 17:01] #2693 closed

[2022-04-03 16:53] #2530 closed

[2022-04-03 16:53] #2528 closed

[2022-04-03 20:45] githubmilind opened #2701 "UnboundLocalError: local variable 'dev_score' referenced before assignment"
**Describe the bug**
I am creating the classifier with own corpus and when I train the model, after 1st epoch get the error.

**To Reproduce**
from flair.trainers import ModelTrainer
trainer = ModelTrainer(clf2, corpus_fst)

trainer.train('data_fst/',max_epochs=2)

**Expected behavior**
expected to training to complete successfully but getting error
UnboundLocalError: local variable 'dev_score' re

[2022-04-04 20:04] selva221724 opened #2703 "Low GPU utilization on NER model training"
Hi,

I am training a large dataset of `NER` model using `flair` and the GPU utilization is only 20- 30% when the training happens.

This is my model layer & settings

[code]

I have `NVIDIA® TESLA® M60` GPU with 8GB RAM.
cuda version: `11.4`

<img width="457" alt="image" src="https://user-images.githubusercontent.com/8901901/161622040-dab0105e-9a1c-419c-91ec-99a007dfc9f8.png">

Any suggestion to i

[2022-04-04 20:06] shabnam-b commented on #2692
I see...
I didn't know about `OneHotEmbeddings.from_corpus(...)` on master. I'll try it, thanks so much!

[2022-04-04 22:26] #2692 closed

[2022-04-06 07:24] avihaybar commented on #2529
is there a reason the required version of `gdown` is pinned down to an old version? this clashes with many other packages I use (i.e - PyABSA)

[2022-04-06 12:05] hmiche opened #2706 "corpus.make_tag_dictionary(tag_type=tag_type) NOT working when trying to train custom Dataset"
**Describe the bug**
my code was working fine before but now when i try ti execute the command corpus.make_tag_dictionary(tag_type=tag_type) i got an error says  :  1522         for sentence in _iter_dataset(self.get_all_sentences()):
   1523             for token in sentence.tokens:
-> 1524                 tag_dictionary.add_item(token.get_tag(tag_type).value)
   1525         tag_dictionary.add_i

[2022-04-06 12:09] alanakbik commented on #2706
@hmiche the `make_tag_dictionary` function is deprecated since flair 0.8. Can you try `make_label_dictionary` instead?

[2022-04-06 12:21] aniketmaurya opened #2707 "Deprecate Python 3.6 ?"
**Is your feature/enhancement request related to a problem? Please describe.**
Python 3.6 is [out of life now](https://www.python.org/downloads/release/python-368/). Maybe consider upgrading to Python 3.7?

**Describe the solution you'd like**
The current CI test only runs for Python 3.6. My suggestion is to test on multiple Python version [like here](https://github.com/gradsflow/chitra/blob/maste

[2022-04-06 13:21] Sharing-Sam-Work commented on #2678
Thank you!

[2022-04-06 13:21] #2678 closed

[2022-04-06 14:04] stefan-it commented on #1661
I have a working solution for it, will prepare a PR for that soon, so re-opening it!

[2022-04-07 08:18] Sharing-Sam-Work opened #2709 "Confidence for test.tsv and dev.tsv"
**Is your feature/enhancement request related to a problem? Please describe.**
I am currently working on error detection and iterative enhancement in the context of NER annotation data quality.

I am studying the test.tsv files and dev.tsv files, in particular the lines where the predictions do not match the gold.
When collecting these cases, I would like to sort them by the confidence with which

[2022-04-07 09:12] alanakbik commented on #2707
@aniketmaurya good point! I think we should deprecate it for the next Flair release!

[2022-04-07 09:20] alanakbik commented on #2703
Dear @selva221724 we just released flair 0.11 should be a bit faster if you use a CRF. Can you try?

Aside from this, we still have CPU bottlenecks in our code that we are working on removing, but this will take some time.

[2022-04-07 09:27] selva221724 commented on #2703
Thanks a lot @alanakbik . I will try that one.

[2022-04-07 19:10] tadejmagajna opened #2710 "SciSpacyTokenizer.tokenize() function is broken"
**Describe the bug**
Two minor bugs were introduced to Flair's `SciSpacyTokenizer` as part of #2645
The bugs prevent usage of `SciSpacyTokenizer` and tokenizers that leverage it.

**To Reproduce**
Any use of classes that leverage `SciSpacyTokenizer` will raise errors. For example:

[code]

Causes
[code]

**To Fix**

***First issue***
The first problem is that there is a typo here: https://github.c

[2022-04-07 19:55] matirojasg opened #2713 "About TransformerWordEmbeddings class"
Hi, I am using the following line of code to create contextualized embeddings from a biomedical roberta model.

[code]
However, when executing the code, I get the following error:

[code]
This does not occur using other hugging face library models, what could be the error in the model? Here is the link to the repository:

https://huggingface.co/PlanTL-GOB-ES/roberta-base-biomedical-clinical-es

Th

[2022-04-07 21:55] matirojasg commented on #2713
https://colab.research.google.com/drive/1Wl4eh26L00MJtSqOfgRbKiqkG3E5X1Oh?usp=sharing

[2022-04-07 22:47] helpmefindaname commented on #2713
Hey @matirojasg thank you for reporting, @alanakbik as this might be due to my refactoring, I'll look into it soon

[2022-04-08 07:52] alanakbik commented on #2713
Awesome, thanks @helpmefindaname!

[2022-04-08 12:46] riccardobucco opened #2715 "How to implement custom Tokenizer"
I'n trying to implement a custom tokenizer, but to get start positions of each token. Let me use an exact copy of your SegtokTokenizer to explain what's my issue:
[code]
The output of this piece of code is `0`. Now let me copy and paste the code of `SegtokTokenizer`:
[code]
This is now printing `None`!! I don't understand what I'm missing here.

Of course my final goal is to implement my own token

[2022-04-08 13:01] riccardobucco commented on #2715
I solved it by installing flair from the repo instead of relying on published versions

[2022-04-09 23:27] tadejmagajna opened #2716 "Certificate for domain that hosts pre-trained models expired"
**Describe the bug**

A number of pre-trained models and embeddings in Flair are hosted on https://flair.informatik.hu-berlin.de/ and when we try to use them for the first time, Flair will try to download it from that URL. However, this URL needs a valid SSL certificate. Otherwise Python (requests package) will refuse to download.

The SSL certificate for https://flair.informatik.hu-berlin.de/  ex

[2022-04-10 03:11] famasya commented on #2716
Confirmed. In the meantime, we can use this snippet

[code]

Credit: [StackOverflow](https://stackoverflow.com/questions/15445981/how-do-i-disable-the-security-certificate-check-in-python-requests)

[2022-04-10 10:41] alanakbik commented on #2716
Hi all, should be fixed now!

[2022-04-10 10:48] alanakbik commented on #2716
Closing, but feel free to reopen if issues remain!

[2022-04-10 10:48] #2716 closed

[2022-04-10 11:37] #2710 closed

[2022-04-10 12:12] alanakbik opened #2717 "Add option to disregard labels in dataset"
Sometimes, we may not want to train a classifier over all labels in a dataset. For instance, we might want to learn an NER tagger for all organization names only and disregard all other labels.

This issue tracks the progress of adding this feature to Flair.

[2022-04-10 13:53] alanakbik commented on #2699
@elazzouzi1080 I think the 'problem' is that at over 5 million sentences the dataset is too large and it takes too long. You could try downsampling by calling

[code]

that would leave you 50k sentences which is still more than most NER datasets out there.

Alternatively, you could downsample to 500k sentences with (downsample(0.01)) and try increasing the mini-batch size (potentially in combinati

[2022-04-10 13:59] mauryaland opened #2720 "Makes to_plain_string method robust to consecutive spaces"
**Is your feature/enhancement request related to a problem? Please describe.**
When dealing with a text with consecutive spaces, the to_plain_string method is unusable because the parameter whitespace_after is a boolean. We can still use the to_original_text method to keep the consecutive spaces, but when dealing with a long text split in several Sentence objects which keep the index of the origin

[2022-04-10 14:05] alanakbik commented on #2720
@mauryaland sure, would appreciate a PR! But what do you mean by performance issues for the to_original_text method?

[2022-04-10 14:12] mauryaland commented on #2720
It is very specific to my use case. We deal with some very long text that we split into Sentence objects where we keep the original index for postprocessing purposes. Because of that, when using to_original_text_method, we've got some very long text sentences with a lot of whitespaces at the beginning that we need to strip. This takes way much time than using to_plain_string method.

I will work o

[2022-04-11 07:06] alanakbik commented on #2715
We just released flair 0.11 so it should hopefully work now!

[2022-04-11 07:06] #2715 closed

[2022-04-11 09:58] stefanobranco opened #2722 "Issue with custom dataset after updating to flair 0.11"
**Describe the bug**
We're using flair to perform named entity recognition to identify specific parts of a document as part of a citation to a different documents. Our dataset consists of space separated tokens and labels, like this:

[code]

I'm reading in the dataset with a columncorups like this:

[code]

From my understanding, the expected corpus would be something like this:

![image](https:/

[2022-04-11 10:24] igormis opened #2723 "start_pos and end_pos is None when using tokenized input to a Sentence"
A clear and concise description of what you want to know.
I am using flair for ner task and I have issues when passing tokenized input to the Sentence class, like this:

[code]
The start_pos and end_pos of each entity is a None. However, when I use the text with the default SegTok word_tokenizer like this:
`sentence = Sentence(text, use_tokenizer = True)`
I get the correct start_pos and end_pos.
W

[2022-04-11 10:54] igormis commented on #2715
@riccardobucco can u tell me on this version did u install or give me some link, I have the same issue

[2022-04-11 11:36] alanakbik commented on #2723
@igormis could you try updating to flair 0.11 to see if the issue still persists?

[2022-04-11 11:49] igormis commented on #2723
I tried, but when I tried to get the prediction with the following code:
model.predict(sentences)
[code]
for entities I have the following output:
`[{'value': 'location', 'confidence': 0.9968255758285522}, {'value': 'financial_topic', 'confidence': 0.9872051477432251}, {'value': 'event', 'confidence': 0.9997718930244446}, {'value': 'company', 'confidence': 0.9781048893928528}, {'value': 'location'

[2022-04-11 21:19] igormis commented on #2723
@alanakbik any idea on how to get the output with the start_pos and end_pos in flair 0.11? something similar to the output in 0.9:

[2022-04-11 21:34] SaratM34 opened #2725 "Flair Sequence Tagger provide local path to load xlm-roberta-large"
Hi,

I am using sequence tagger as below.

[code]
Seems like SequenceTagger is downloading `xlm-roberta-large` internally to initialize `TransformerWordembeddings`. I wanted to check if there is a way to provide a local path to load `xlm-roberta-large` instead of downloading from internet.

[2022-04-12 03:55] alanakbik commented on #2723
Hi @igormis yes we have an example and explanations in our updated tutorial here: https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_2_TAGGING.md#getting-annotated-spans

[code]

You can directly access this information on each entity.

[2022-04-12 04:03] alanakbik commented on #2722
Hello @stefanobranco I am not seeing this behavior with your snippet. I get the following printout:
[code]

and if I do:

[code]

I get:

[code]

So it seems that everything is working as it should.

[2022-04-12 05:12] #2723 closed

[2022-04-12 08:47] igormis opened #2726 "NER + RE"
@alanakbik are there any tutorials on how to train NER together with Relation Extraction on top of it? What I need is the input data format, the training process and the inference.

[2022-04-12 10:55] #2636 closed

[2022-04-12 12:15] athleticalex195 opened #2727 "Finding hyperparameters with fine_tune=False"
Hi!

I'm currently doing my bachelor and I am using flair as a framework for creating an text classifier. I use DocumnetTransformerEmbedding and wish to find the best hyperparameters when training my classifier. However I do **not** wish to fine-tune the transformer model. I only wish to find the best hyperparameters to train the classifier. Is this something that is common? I can't seem to find a

[2022-04-12 17:37] jenortonfirstam opened #2728 "Loss of Label/Score for NER in tokens"
I'm not sure if this was intentional or a bug, but as of 0.11, tokens no longer have NER labels (meaning we are losing the BIOES labels) and scores assigned to tokens in a span. Our usage was dependent on having NER labels and scores in the tokens.

It must be an omission because I can see in the code that you are assigning Omit tags.

**To Reproduce**
Run any NER model and inspect the tokens in t

[2022-04-12 18:53] stefanobranco commented on #2722
Hey @alanakbik! Sorry to dig this out again, but turns out the issue is not resolved after all, and I think I figured out the root cause after all. We are using document separator tokens to signify boundaries of documents. The problem appears only if the training file starts with such a document separator token:

[code]

If you remove that first line, or use the `skip_first_line=True` option (whic

[2022-04-13 08:00] alanakbik commented on #2726
@dobbersc could you help @igormis get started with RE in Flair?

[2022-04-13 09:16] alanakbik commented on #2728
Hello @jenortonfirstam yes we changed the abstraction such that NER taggers now directly label `Span` objects instead of BIOES labels on the `Tokens`. So you can get the NER labels by doing:

[code]

You can access lots of fields on the `Span` object, check the tutorial [here](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_2_TAGGING.md#getting-annotated-spans).

If you want

[2022-04-13 17:58] MoncefBenaicha opened #2729 "Direct access to Token tags removed on version 0.11"
[code]

the above code gives the corresponding named entity to each token in a sentence. After upgrading to v0.11 the method get_tag has been removed and I can't find a similar method that will give similar results.  I checked get_labels but for some reason, I am getting an empty list.

Thank you for your help.

[2022-04-13 21:52] melayadi commented on #2729
You have to replace

[code]
by

[code]
However, I have found that all labels are now set to 'O' in some cases regardless of the detected entities. However, if you do

[code]
it works as expected and returns the right spans.

Any reason why this new behavior happens?

[2022-04-14 03:44] alanakbik commented on #2729
Hello @MoncefBenaicha and @melayadi yes it is the same reason as #2728: Span annotations are now directly predicted as such instead of being broken down into individual Token labels. So from the point of view of the end user, there are on longer the labels 'B-PER', 'I-PER', 'S-PER' stored at Tokens, but rather a single label 'PER' that is stored for the entire span.

The reason for this is twofold

[2022-04-14 14:06] dobbersc commented on #2726
Hey @igormis,

Unfortunately, there is no tutorial for the relation extractor training process like the other models, e.g. the sequence tagger. I'm currently working on another relation extractor architecture implementation and plan to add a tutorial. For now, you can train and use the existing relation extractor as follows:

[code]

In this example I've used an integrated dataset. You can also lo

[2022-04-14 15:20] matirojasg commented on #2713
Thank you guys!

[2022-04-14 20:39] melayadi commented on #2729
Thanks for response, makes sense. If I have multiple tagged sentences in a list and I'd like to save them in ConLL format, is there a Flair functionality of doing that directly? Or I have to set the IOB(ES) token labels as you mnetioned and write the tokens to the file as a for-loop?

[2022-04-15 17:01] jenortonfirstam commented on #2729
You can use any BIO(ES) (etc) format you desire. The real issue is that the scores are lost on each of the tags. This is a reduction in functionality in the least - we consider it a bug in 11.x. It is keeping us from adopting the latest version of Flair and I don't believe we will be able to move forward with Flair in the long term if this is not resolved. I can't imagine that we are the only cust

[2022-04-15 19:08] igormis commented on #2726
Hi @dobbersc it looks clear, tnx. I have only one question:
- # In production, use another sequence tagger model to tag the relevant entities. - It means that i should add the infered tags using some NER model and then infer for the relations?
PLease update when you will have the new architecture with the tutorial :).
Tnank you very much

[2022-04-16 00:34] dobbersc commented on #2726
That is correct. The flair RelationExtractor does not handle end-to-end relation extraction, as it requires pre-tagged entities. One easy way is to use another sequence tagger, e.g. some NER model. Afterwards, you may predict using the relation extractor.

When using a sequence tagger to predict the relation entities, be sure to use the same label type and specified labels as in the `entity_label_

[2022-04-16 08:21] helpmefindaname commented on #2729
Hello,
getting the actual tag probabilities is still possible when running `sentence_tagger.predict(sentence, return_probabilities_for_all_classes=True)` and can be accessed via `sentence.get_tags_proba_dist(sequence_tagger.tag_type)`
however the output is currently not nice, I proposed a fix in this pr: https://github.com/flairNLP/flair/pull/2731

[2022-04-16 12:50] #2520 closed

[2022-04-18 14:53] matirojasg opened #2732 "About FLERT experiments"
Hi! I have been using the approach proposed in FLERT, and at least in the fine-tuning experiments, it has given me excellent results, thank you.

My question is the following. I am performing an empirical study comparing contextualized embeddings obtained from Flair, BERT, and FLERT. However, when I want to incorporate contextualized embeddings from FLERT in the LSTM-CRF architecture the results a

[2022-04-18 15:15] matirojasg commented on #2732
I am performing the experiments on a biomedical dataset in Spanish.

[2022-04-18 22:55] jenortonfirstam commented on #2729
Thank you for your immediate attention to this manner.

Get_tags_proba_dist is on the tagger.

Problem is I found another bug.  When I try to print the label (my model gives me 20 to look at), I get the following crash:

  File "/lib/python3.8/site-packages/flair/data.py", line 234, in __str__
    return f"{self.data_point.unlabeled_identifier}{flair._arrow}{self._value} ({round(self._score, 4)})"

[2022-04-19 11:59] alanakbik commented on #2732
Hello @matirojasg the likely problem is that fine-tuning and the RNN don't go well together. We found that if you want to use an RNN, you should freeze the Transformer embeddings (`fine_tune=False`), use all layers (`layers="all"`), and use the normal `train()` routine with default parameters (default learning rate, optimizer, batch size, etc.) instead of `fine_tune()`.

See our paper for more inf

[2022-04-20 04:07] bogdankjastrzebski commented on #2727
Hi!

I assume you are using TextClassifierParamSelector to find the TextClassifier hyperparameters, correct me if I'm wrong. Maybe you are following [this](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_8_MODEL_OPTIMIZATION.md#selecting-hyperparameters-for-text-classification) example from the tutorials. In this case, the transformer is being fine-tuned.

It is very common n

[2022-04-20 08:27] myeghaneh opened #2733 "sequence tagger in Farsi"
I want to  use 'farsi embedding'  (    farsi_embedding = WordEmbeddings('fa')
)for sequence tagging, I used these on these data

[code]

I have used
[code]
 I do not know why the result stay in zero, however, the loss is decreasing ;

[code]

any idea what is the problem ?

[2022-04-20 11:53] stefan-it opened #2734 "Add support for HIPE-2022 v2.1"
Hi,

a new version 2.1 was recently released for the HIPE-2022 dataset.

Flair currently only supports version 2.0, so it needs to be updated.

Changelog for v2.1 release:

https://github.com/hipe-eval/HIPE-2022-data/releases/tag/v2.1

[2022-04-20 15:29] MatthiasCami8 opened #2736 "Using flair in hugginface space"
I'm currently developing a (large) hugginfacespace, in which I load one of the flair models (but not limited to only this).
I develop with streamlit, and I load the tagger with "SequenceTagger.load("flair/ner-english-ontonotes-fast")". When I run everything locally I have no problems.

The problem occurs when deploying on hugginface, then the code gets stuck at this line of code. The logs then rea

[2022-04-21 04:28] sivachaitanya commented on #1434
can you elaborate on how did you solved by setting permissions to my user folder's .flair cache path right, - I'm having similar problem when loading the model from folder inside my docker container

[2022-04-21 17:37] sgoede commented on #1434
It was solved by setting read permission for other users on the particular cached file from the .flair folder in the home folder, also it was needed to set these permissions in all top folders preceding it, up untill root. or '.' .

However, since you want to run it in Docker, this is an unwanted situation. Check if you can download the file within the container itself en cache it from there. The

[2022-04-21 21:41] helpmefindaname commented on #2733
Hello, judging from your loss, I would assume that your hyperparameters are not a good choice for your dataset.
Usually the lerning rate is the most important parameter to tune.

Look at the training loss of the first epoch the loss should be drastically deceasing over the batches. If it is decreasing very slowly, you might have a very low learning rate. If it is increasing, your learning rate is

[2022-04-22 09:11] athleticalex195 commented on #2727
Thank you for the awnser it was very good!

When you say " In general, having a large dataset, it is recommended to fine-tune the model" how big are we talking? And how big in comparison to the "original" dataset that the model was pre-trained on?

[2022-04-22 10:01] myeghaneh commented on #2733
thank you for your answer, it is very nice of you.

I will try to change Hyper-parameter
start from learning rate and then mainly hidden_states and number of layers)  and of course I will observe  dev loss

correct, it is a bit complicated, I am working  on Calim(c)- Premise(p) classification  the stages are

BIO scheme

so B-P  means the beginning of the Premise
I-P    means    inside of  Premise

[2022-04-22 11:35] whoisjones opened #2737 "PyTorch sampler is mutually exclusive with shuffle"
**Describe the bug**
Using default settings, a custom sampler will raise an error since shuffle and a custom sampler a mutually exclusive in torch.

**Expected behavior**
DataLoader needs to check whether a sampler is given and thus overwrite shuffle default param.

[2022-04-22 16:57] Newlearner012 opened #2738 "Flair unable to detect dates of any format on custom dataset"
I'm working on training an ner model on custom dataset. I've tried training the model following the steps mentioned in this [link](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_7_TRAINING_A_MODEL.md#training-a-sequence-labeling-model). BytePairEmbeddings was used to train the model.

My dataset has date formats of all kinds along with other ner tags. It so happens that the

[2022-04-23 19:23] helpmefindaname commented on #2738
Hey @Newlearner012
For dates I would consider using the [regex tagger](https://github.com/flairNLP/flair/blob/master/flair/models/regexp_tagger.py#L44) crafting a few regexes should be usefull to cover 99% of cases

[2022-04-24 04:54] #2544 closed

[2022-04-24 04:54] #2545 closed

[2022-04-24 04:54] #2547 closed

[2022-04-24 04:54] #2542 closed

[2022-04-24 04:54] #2538 closed

[2022-04-24 04:54] #2553 closed

[2022-04-24 06:55] xfgavin opened #2740 "Issue using tars.predict in UDF"
I got very different result when using tars.predict in a function in python with an udf wrapping the function and using it in spark sql. Here is the code:

[code]

In spark sql via databricks:
[code]

I got:

`
{all labels=[{value=NEUTRAL, confidence=0.7152036428451538}, {value=ANGER, confidence=0.7273235321044922}, {value=FEAR, confidence=0.6826728582382202}, {value=ANNOYANCE, confidence=0.778173

[2022-04-24 22:39] nineTailsKurama commented on #2157
Hey I am not able to fine-tune the model on an RTX 6000? Give me an OOM Cuda error

[2022-04-25 10:03] myeghaneh commented on #2733
thank you again for your response, I have tereid with the different learning rate, unfortunately still a bad loss, and zeo, any idea? the things is that that works for original language (englsih) It should works also for Perisna in My view, I dod not know why

[2022-04-25 13:36] Nuveyla opened #2742 "StackedEmbeddings with PooledFlairEmbeddings returning TypeError"
**Describe the bug**
While running the given code for the best configuration for CONLL-03 NER on English at the following page: [link](https://github.com/flairNLP/flair/blob/b3797096742699997e77d12a66c82310361990a4/resources/docs/EXPERIMENTS.md) I get a TypeError (see screenshot). I have tested out several embeddings (Word and Flair) and saw that this TypeError is only occurring when running with

[2022-04-25 13:51] alanakbik commented on #2742
@Nuveyla thanks for reporting this. @susannaruecker can you take a look?

[2022-04-26 09:19] myeghaneh opened #2743 "lost decreaing but the metrics are not changing"
I would be thankful if you can help me with my questions:

I have a sequence tagger , as follows;

[code]

 it is supposed to use   (token, POS, BIO tagging) to recognize P from C for this kind of data (which are in Farsi)

[code]

I used the same approach in English and it was working. But here I used the different hyperparameters ( learning rates)  and embeddings (fa or fa-crawl)  but I see the

[2022-04-27 09:46] kieron-guinamard-privitar commented on #2534
Out of interest, why was SentenceDataset renamed?

[2022-04-27 09:53] #2736 closed

[2022-04-27 12:09] #2557 closed

[2022-04-27 14:07] #2551 closed

[2022-04-27 18:34] yosipk opened #2745 "Loading models saved with flair < 0.11 fails with flair 0.11"
**Describe the bug**
The [` TextClassifier`](https://github.com/flairNLP/flair/blob/master/flair/models/text_classification_model.py#L15) model that uses [`TransformerDocumentEmbeddings`](https://github.com/flairNLP/flair/blob/master/flair/embeddings/document.py#L26) trained and saved with Flair 0.10 can not be loaded with Flair 0.11.

**To Reproduce**
Save the `TextClassifier` that uses `Transfor

[2022-04-28 08:07] helpmefindaname commented on #2745
Hello, I think this is due to a typo in [this line](https://github.com/flairNLP/flair/blob/master/flair/embeddings/base.py#L435) which should be `if "operation" in state:`

[2022-04-28 09:54] lawrence-pressinnov commented on #2601
Hi
As anyone found a proper workaround to this problem?
@jroakes can you give more details on `use_fast = False` I don't understand where to apply this (and thus can not experiment the dependency issue).

I'm stuck with this issue on production (flair(TextClassifier) + fastapi + kubernetes autoscaling GPU nodes) and nothing helps. I tried to constraint the number of workers to one on uvicorn and e

[2022-04-28 13:07] myeghaneh commented on #2743
an update, with changing some hyperparameter (increasing the number of the hidden layers)  I could be able to move out the number from zero, but still F1 SCORE is not good. Any suggestion would be very welcome

[code]

here is my model :

[code]

here are the firsts epochs:

[code]

last epochs:"

here is the last epochs

[code]

[2022-04-28 13:54] elazzouzi1080 opened #2746 "How to get IOB NER tags from model predictions?"
hello , is it possible, for each token to have the corresponding iob tag

![image](https://user-images.githubusercontent.com/81225479/165768257-4ffeb2ef-d1e1-427c-adb1-1b8bb8f88392.png)
for exemple :

![image](https://user-images.githubusercontent.com/81225479/165768401-f29b206a-e965-48ac-a6ce-6fb25ee1f1a4.png)

[2022-04-29 04:40] alanakbik commented on #2745
@helpmefindaname ah yes that could be the problem!

[2022-04-29 11:23] pushpalatha1405 opened #2747 "resume training option for custom language model"
**Is your feature/enhancement request related to a problem? Please describe.**
I did find a way to resume the training from stored checkpoint for the language model.
**Describe the solution you'd like**
In the language_model_trainer.py, there exist a static method for load_checkpoint which return the languageModelTrainer(loss,op_state_dict ,model etc). but this method is of no use further.
also i

[2022-04-29 20:59] xfgavin commented on #2740
@kashif @pranaychandekar @apohllo @mhoyer @heukirne @ thought on this issue?
Thanks.

[2022-04-29 21:08] tulha commented on #2740
Facing a similar issue. Would be great if you could take a look!

[2022-05-01 04:07] #2541 closed

[2022-05-01 04:07] #2482 closed

[2022-05-01 04:07] #2568 closed

[2022-05-01 04:07] #2571 closed

[2022-05-01 04:07] #2572 closed

[2022-05-02 08:17] #2734 closed

[2022-05-02 14:07] #2467 closed

[2022-05-03 19:43] helpmefindaname commented on #2443
Hello,
I made a PR which should make it possible to use `torch.jit.trace` and therefore also aws neuron, can you take a look at https://github.com/flairNLP/flair/pull/2739/files#diff-12961c27a5afbdccd88c22a4678b771edbe9a64e512fd5db7b3ac4df4fa4234b and see if that works?

[2022-05-03 19:43] helpmefindaname commented on #2528
Hello,
I made a PR which should make it possible to use torch.jit.trace, can you take a look at https://github.com/flairNLP/flair/pull/2739/files#diff-12961c27a5afbdccd88c22a4678b771edbe9a64e512fd5db7b3ac4df4fa4234b and see if that works?

[2022-05-03 19:46] helpmefindaname commented on #2625
Hello,
I made a PR which should make it possible to export transformer embeddings to onnx can you check out https://github.com/flairNLP/flair/pull/2739/files#diff-12961c27a5afbdccd88c22a4678b771edbe9a64e512fd5db7b3ac4df4fa4234b and see if that works?

[2022-05-03 21:28] DevBey commented on #2528
Hi @helpmefindaname,

can you please provide your slack, I have a few questions !!

[2022-05-03 21:59] DevBey commented on #2528
Hi @helpmefindaname,

here is the same error I got while runnning it manually and using your test_transformer_jit_embeddings with torch.jit.neuron
[code]

[2022-05-03 23:09] DevBey commented on #2528
solution for this is to change 478 in transformer.py like this
`    def _forward_tensors(self, tensors) -> Dict[str, torch.Tensor]:
        exampleinput = tensors["input_ids"], tensors["attention_mask"],tensors["overflow_to_sample_mapping"], tensors["word_ids"]
        embeddings = self.jit_model(*exampleinput)
        if isinstance(embeddings, tuple):
            return {"document_embeddings": em

[2022-05-04 03:32] fmafelipe opened #2749 "How to tag your own corpus to train a NER model"
I want to train a NER model with my own corpus, however, when I label each token as shown in the example in tutorial 6 (seen below) in the "Reading Your Own Sequence Labeling Dataset" section it doesn't work.

George N B-PER
Washington N I-PER
went V O
to P O
Washington N B-LOC

Sam N B-PER
Houston N I-PER
stayed V O
home N O

Clearly I'm only interested in the NER label column. I have seen that w

[2022-05-04 11:45] alanakbik commented on #2742
Fixed in PR #2744

[2022-05-04 11:45] #2742 closed

[2022-05-04 15:40] helpmefindaname commented on #2528
Hello @DevBey
and thank you for that quick feedback.
I pushed a commit that should fix the issue with aws neutron.

I recommend not creating a new sequencetagger, but overwriting the embeddings of the old ones:
[code]
The main reason for this is, that jit is only used for the embeddings (which usually is the huge bottleneck) but the sequencetagger itself isn't supported yet. Creating a new Sequenc

[2022-05-05 14:46] DevBey commented on #2528
Hi, @helpmefindaname,

thanks, I was able to make it work by

[code]

I have tried the other way, in my case, it didn't work out.

though now there is a slightly different issue, so basically whenever I am tracing a model to neuron with a certain size of input let's say 512, then it can only work for that length.

to get around this we generally pad it for example like this ->
`
inputs = tokenizer

[2022-05-06 00:01] bogdankjastrzebski commented on #2749
Hi!

I'm not sure, what the problem might be. The tutorial shows the correct way to load the corpus, though the output format changed. I've tested it with flair v0.11.1 in [this](https://colab.research.google.com/drive/17xLnsyIddGzUByb23fWS7mu1STT_mt-h?usp=sharing) Colab notebook, and it looks fine. As I understand (correct me if I'm wrong), your corpus has only the NER label column. In the notebo

[2022-05-06 06:41] #2728 closed

[2022-05-06 06:41] #2729 closed

[2022-05-06 09:07] myeghaneh commented on #2743
I could solve the issue by using these networks and increasing the hidden layer and...

[code]
result of one of the splits of cross-validation :)
[code]

[2022-05-06 09:33] alanakbik commented on #2743
Great! You should also try decreasing the mini-batch size - if I read your output correctly you have only 20 training examples and a mini-batch size of 32 set. This means that each epoch you only do one update step which is very little. Try setting your mini-batch size to 2 or 4 to get more updates per epoch.

[2022-05-06 09:50] myeghaneh commented on #2743
Greeting from HU Berlin :)  sure, I'll do that  That was for the beginning (to test ), I have now

[code]

I was planning to do that, thank you Alan, looking fwd to seeing you one the day in HU

[2022-05-06 09:59] alanakbik commented on #2743
Ah greetings back - did not realize you were at HU ;)

[2022-05-06 12:12] myeghaneh commented on #2743
sure, unfortunately, it is  CPU;
 Intel, Core(TM) i7,  RAM 32 GB

[2022-05-06 12:13] myeghaneh commented on #2743
@JohnXXDoe
sure, unfortunately, it is CPU;
Intel, Core(TM) i7, RAM 32 GB

[2022-05-06 12:56] alanakbik commented on #2746
Hello @elazzouzi1080 yes we just merged PR #2750 that adds this feature to the sequence tagger, and will do a release very soon.

After the release, you need to set `force_token_predictions=True`, i.e.
[code]

If you want this feature now, you could run this code:

[code]

[2022-05-06 12:56] #2746 closed

[2022-05-06 12:59] alanakbik commented on #2732
Closing, but feel free to reopen if you have more questions!

[2022-05-06 12:59] #2732 closed

[2022-05-06 17:58] fmafelipe commented on #2749
Hello, thank you very much, I think the problem was my fault, because I was not labeling all the tokens with the prefix B or I, for example I was labeling some names with "B-PER" and another only with "PER".
Now if you can help me with the understanding of those "prefixes" B, I, E, S.
I don't understand on what occasions each one is used.

[2022-05-07 07:42] Weyaaron opened #2751 "Iterating over the cuda-devices fails with a Type-Error"
**Describe the bug**
While iterating over the cuda-devices, flair fails to load the device properly.  This method of iteration is analogous to the method described in this issue: https://github.com/flairNLP/flair/issues/464

**To Reproduce**
[code]
**Expected behavior**
That the code snipped changes the flair device properly. Instead, the programm crashes with the following error:

[code]

**Envir

[2022-05-07 17:04] dobbersc commented on #2751
I can't reproduce the error with the code above. But the error does occur when loading a model. It always helps provide a minimal example to reproduce the error. Is this what you are doing?

[code]

Here you are using `torch.cuda.device`. According to the [documentation](https://pytorch.org/docs/stable/generated/torch.cuda.device.html#torch.cuda.device), this function is actually a context manager

[2022-05-07 18:45] Weyaaron commented on #2751
This looks promising, I will check it out tomorrow and report back.

[2022-05-07 19:47] dobbersc commented on #2749
Hey @fmafelipe,

The prefixes you are describing are part of an annotation convention. E.g. the BIO or BIOES scheme. The purpose of these annotation prefixes is to annotate spans in a sentence, i.e. a continuous sequence of tokens in the sentence, on token level.

Here is a table of what the prefixes actually mean (replace PER with any other annotation):
| Annotation | Explanation

[2022-05-08 06:12] Weyaaron commented on #2751
This is the solution I was looking for, I appreciate the quick help :)

[2022-05-08 06:12] #2751 closed

[2022-05-09 03:05] alanakbik commented on #2749
Closing since question is answered (thanks @dobbersc), but feel free to reopen if there are more questions!

[2022-05-09 03:05] #2749 closed

[2022-05-09 03:06] alanakbik commented on #2726
Closing since question is answered (thanks @dobbersc), but feel free to reopen if there are more questions!

[2022-05-09 03:06] #2726 closed

[2022-05-09 03:08] alanakbik commented on #2722
@stefanobranco just merged a PR that should make span detection more robust and hopefully cover your case (DOCSTART as first sentence).

[2022-05-09 03:13] alanakbik opened #2754 "Release 0.11.2"
Make an incremental release (version 0.11.2) - the release covers the bugfixes and updates of the last weeks. Functionality-wise, it also adds to `SequenceTagger` the option of predicting tags at the token level.

[2022-05-09 03:20] fmafelipe commented on #2749
Thank you very much @dobbersc
The explanation was very helpful.

[2022-05-09 13:12] fernando080 commented on #2467
Any updates about this issue? ^^

[2022-05-09 14:45] thlor commented on #1105
The `evaluate()` method has changed since the above comments (v 0.6.1 vs v 0.10.0 currently) so the examples don't work. The method now only returns a `Result `object. Also, it requires a `gold_label_type` attribute. Therefore for the example of @alanakbik must be updated as:

[code]

[2022-05-10 06:54] alanakbik commented on #2467
There is a PR for Lightning Lite integration #2700 that will add this feature and should be merged soon-ish!

[2022-05-10 09:52] minstar opened #2756 "[Hunflair evaluation] ImportError: cannot import name 'Metric' from 'flair.training_utils'"
Thank you for your commendable efforts to share this nice project! Really nice work so far.

I'm currently working on evaluating the out-of-domain evaluation using Hunflair codes.

While processing ```evaluate_ann.py``` on this URL (https://github.com/hu-ner/hunflair-experiments)
In my version, I could not import 'Metric' in flair.training_utils.py
My flair version is 0.11.2.

Could you help me to

[2022-05-10 21:23] Nuveyla opened #2758 "fine-tuning on ner-pooled with new dataset"
Hey!

Right now, I am trying to fine-tune ner-pooled model on another dataset. After the training, I want to evaluate on validation and hyperparameter tune. And finalize by testing. However, when I train on the new dataset, I get scores of zeros.

My code is as follows, taking [issue: #1178](https://github.com/flairNLP/flair/issues/1178) and #53 as inspiration:
![image](https://user-images.githubu

[2022-05-12 07:31] boegel opened #2759 "requirements.txt missing from PyPI source tarball"
**Describe the bug**

`requirements.txt` is missing from the source tarball that is available via PyPI (https://pypi.org/project/flair/0.11.2/#files).

That's a problem because `requirements.txt` is required by `setup.py`, see https://github.com/flairNLP/flair/blob/7491f4b4f3aa6e6c2832ddb67adb1243cbc15488/setup.py#L3-L4

**To Reproduce**

Download source tarball from PyPI, unpack it, try installin

[2022-05-12 07:33] boegel commented on #2754
There's no `0.11.2` tag/release yet here in the Git repo, although flair 0.11.2 is already available through PyPI: https://pypi.org/project/flair/0.11.2.

There's also no tag/release for `0.11.1`.

Is that intentional, or just an oversight?

[2022-05-12 08:17] Ujwal2910 opened #2760 "Custom loss function in training or fine tunning of TARS model"
Hello, is there a possibility or method where we can use a custom polyloss or focal loss for Tars model training?

[2022-05-12 10:47] NicolasVautier opened #2761 "UNK tag decrease f1-score"
Hello, this is my first time posting ever i will try to be as precise as possible.

i'm training a SequenceTagger model using flair 0.11.2 with 3 tags and i'm having issues with the unwanted add of unk tag to my tag dict which decreases micro f1-score (is it a normal behaviour ?). I've seen other issues about the unk taf but none speaks about f1-score.

Here is my code :

            columns = {0

[2022-05-12 18:50] lixiu911 opened #2762 "All settings the same, but using "make_label_dictionary" and "make_tag_dictionary" to create "tag_dictionary" for NER model give completely different results."
All other settings are the same (same data, same code etc), but using "make_label_dictionary" and "make_tag_dictionary" to create "tag_dictionary" for NER model give completely different results.

I am training a Swedish NER model, I first trained the model using  "make_tag_dictionary" and got the results but then noticed that "make_tag_dictionary" will be deprecated and it is recommended to use "

[2022-05-12 18:59] vigenere23 opened #2763 "New huggingface/transformers update (4.19.0) breaks imports"
**Describe the bug**

`sacremoses` was made optional in the newest `transformers` version 4.19.0 (https://github.com/huggingface/transformers/releases/tag/v4.19.0), more specifically with the PR https://github.com/huggingface/transformers/pull/17049. From the PR's description, `sacremoses` is supposed to be an "artifact of the past", which means we maybe no longer (or should not) need it.

In the

[2022-05-12 20:56] matirojasg opened #2764 "Fine-tuning transformer-based models and IOB2 format"
Hi, I had a question about the NER task and the transformer-based models. We know that we perform a token-level classification instead of a span-level when performing fine-tuning and adding a linear layer for classification. This means that models will not necessarily follow the IOB2 format (I: Inside, O: outside, B: Beggiging). I would like to know what happens, for example, when a token is split

[2022-05-12 21:32] helpmefindaname commented on #2764
The predictions are on token level. You can choose how the embedding for a token is aggregated if it consists of several subtokens. This is done by setting the `subtoken_pooling` parameter to either `first` `last` `first_last` or `mean`. The default is `first`.

[2022-05-13 08:30] hmiche opened #2765 "Transformers Update"
When trying to call 👍
from flair.data import Sentence
from flair.models import SequenceTagger

got this Error

Failed to import transformers.models.transfo_xl.tokenization_transfo_xl because of the following error (look up to see its traceback):
No module named 'sacremoses'

Quick Solution : Use pip install transformers==4.18.0

[2022-05-13 09:28] hmiche commented on #2763
quick solution use : pip install transformers==4.18.0

[2022-05-13 14:46] alanakbik commented on #2763
Thanks @vigenere23 @hmiche - could you explain a bit more? What is sacremoses used for - is it only for the transformer XL models?

[2022-05-13 14:54] alanakbik commented on #2762
Hello @lixiu911 thanks for reporting this - this looks to be the same problem as in #2761 reported by @NicolasVautier.

Could one of you provide some minimal sample data + script so we can reproduce this issue? On my datasets it seems to not appear.

[2022-05-13 15:00] alanakbik commented on #2759
@boegel thanks for reporting this! Do you happen to know what must be done in order for the `requirements.txt` to become part of the tarball?

[2022-05-13 15:22] alanakbik commented on #2756
Hello @minstar I think these scripts were written for earlier versions of Flair since the signatures have changed a bit. You could either use an older version of Flair, or perhaps @leonweber @mariosaenger could update the scripts?

[2022-05-13 22:08] iliaNecrov opened #2766 "How to move transformer embeddings to from GPU to CPU?"
As I figured out my **6GB** GPU can't even run [train ner with transformers](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_7_TRAINING_A_MODEL.md#training-a-named-entity-recognition-ner-model-with-transformers) script. I needed it because i wanted to add additional corpus to conll-2003, so I could get better NER results.

After a little research I found out that uploading `T

[2022-05-14 14:48] PartGi commented on #2765
Hi @hmiche. I encountered today the same problem and solved it by "pip install sacremoses".
I got then another one error (module 'flair' has no attribute 'nn'), which did not happen throughout the last two weeks where I used daily the flair framework.

[2022-05-14 17:50] jalbarracinv opened #2767 "Can't use it in Google Colab"
Used this:

!pip install -U importlib-metadata
!pip install -U flair
!pip install sacremoses

[code]

Then I execute:

[code]

And I get this error:

[code]

What am I doing wrong?

[2022-05-14 23:00] hmiche commented on #2765
Yeah i got the same problem so i  used an Old version of flair pip install flair==0.11.1

[2022-05-15 10:22] alanakbik commented on #2767
Hello @jalbarracinv thanks for reporting this. It is quite strange, but if you reverse the order it works (install sacremoses first, then flair):
[code]
Just tested this on a fresh colab notebook.

I have no idea why it does not work the other way around, but am investigating now.

[2022-05-15 10:23] alanakbik commented on #2765
Strangely, if you install sacremoses first you can install the current version of Flair (just tested on a fresh colab notebook):
[code]
I have no idea why it does not work the other way around but am investigating now.

[2022-05-15 11:09] #2763 closed

[2022-05-15 11:15] alanakbik commented on #2767
This is fixed in master branch now, if you install with
[code]
it should work. We'll also do a release soon after which a regular `pip install flair` will also work again.

[2022-05-15 11:15] #2767 closed

[2022-05-15 18:06] alanakbik opened #2770 "Release 0.11.3"
This issue tracks the process of bugfix release 0.11.3 - mainly fixing the problems caused by the missing `sacremoses` dependency in the new `transformers` version.

[2022-05-15 20:40] jalbarracinv commented on #2767
THANK YOU!!!

El dom, 15 may 2022 a la(s) 06:15, Alan Akbik ***@***.***)
escribió:

[2022-05-15 21:48] lixiu911 commented on #2762
Thanks for your reply Alan. How much data do u need? my data is actually commercial. If you test my data, I have to send you some samples not in the public way.
(Swedish language, total 26149 sentences. 25% sentences are annotated with some NER. 70%, 20%, 10% for training, validation and test. )

[2022-05-16 04:17] minstar commented on #2756
When I use flair==0.6.1 version (with gensim==3.8.3), I could derive what I wanted!
Thanks for your reply.

[2022-05-16 04:17] #2756 closed

[2022-05-16 04:35] minstar opened #2771 "[Details of Hunflair training]"
In supplementary section 1.2 (Gold Standard NER pre-training),
the authors described that the training sets are built by taking **the union of the HUNER train and test splits of each data set**.
And also, the validation sets are given by **the union of all HUNER validation splits**.

In HUNER, the authors randomly divided each corpus into three disjoint subsets;
60% of the samples were used for tr

[2022-05-16 10:59] leonweber commented on #2771
Hey @minstar,
thank you for your question!
Yes, the training set in HunFlair was created by combining the train and test splits of HUNER. Note, that we did this only for the model which we evaluated in the cross corpus experiments and the final model that we released as the HunFlair tagger. For the pretraining/finetuning experiments (Section 4 in the HunFlair supplement), we only trained on the tr

[2022-05-16 16:24] nareshchadoop opened #2772 "get_embedding() error"
Getting this below error while using the flair on sample spam.csv. Could you please help me to resolve this issue.

File ~\anaconda3\envs\text_classifier\lib\site-packages\flair\models\text_classification_model.py:66, in <listcomp>(.0)
     64 # make tensor for all embedded sentences in batch
     65 embedding_names = self.document_embeddings.get_names()
---> 66 text_embedding_list = [sentence.get

[2022-05-16 16:45] i-partalas opened #2773 "Fine-tuning or extended training of target language in NER few-shot transfer?"
Firstly, I would like to thank everyone contributing to this easy-to-use, well structured and open-source framework.
I myself am currently writing my bachelor thesis and using during the last weeks daily the flair framework, since I am trying out different languages in zero and few-shot transfer in order to figure out what hinders or not the knowledge transfer on NER task.
Please excuse if my ques

[2022-05-16 20:28] sagorbrur opened #2774 "NER training problem with BILOU format"
Hello,
Thank you so much for this beautiful tool.
My Flair version is 0.11.2
I am doing NER with `BILOU` format datasets. I am using `ColumnCorpus` option to feed my custom data,  But training stops and shows this error.
[code]

Then I debugged thoroughly and modified the following line shown here in snippets.
If I add `U-` in the code, it's training perfectly, otherwise, it fails.
The working lis

[2022-05-17 06:25] minstar commented on #2771
Hi @leonweber,
thank you for your prompt response!

[2022-05-17 07:45] minstar commented on #2771
Sorry for reopening the issue.

I want to reproduce an in-domain evaluation (Table 2) of Hunflair paper.
Which model do I have to use it?

[2022-05-17 11:09] leonweber commented on #2771
Hey @minstar,

the results should, in principle, be reproducible with the following script. However you would need to retrain a version of HunFlair with the evaluation corpora excluded (information on how to retrain HunFlair is here https://github.com/flairNLP/flair/blob/master/resources/docs/HUNFLAIR_TUTORIAL_2_TRAINING.md#training-hunflair-from-scratch). Additionally, you would have to use these

[2022-05-17 19:50] fmafelipe opened #2777 "How and where to add add_unk = True"
Hello, I am training a ner model, apparently I have a wrong tag in my training corpus because during the training process I get this error.
![errorner](https://user-images.githubusercontent.com/50722626/168899243-e104d09c-a177-4a81-8a70-7f90938c9426.png)

I already checked the corpus several times and I can't find the error, so I want to do what the problem tells me to add add_unk = True, but I do

[2022-05-18 09:39] sagorbrur commented on #2774
I found this a duplicate of #2016 , That's why I am closing this issue. sorry for this duplicate issue.
regards

[2022-05-18 09:39] #2774 closed

[2022-05-18 23:10] bashayerm opened #2780 "Unable to create corpus > IndexError: list index out of range"
I used to run my model and get predictions, but after updates, I have a bug when creating a corpus
IndexError: list index out of range

This is my code
`import flair
from flair.data import Sentence
from flair.models import SequenceTagger
from flair.trainers import ModelTrainer
from flair.data import Corpus
from flair.datasets import ColumnCorpus

# define columns
columns = {0: 'file', 1: 'line', 2

[2022-05-18 23:33] #2780 closed

[2022-05-19 09:37] alanakbik commented on #2777
@fmafelipe what Flair version are you on?

[2022-05-19 10:37] YassineKhalfi opened #2781 "Model optimization for tars classifier"
I wanted to know if there is a pipeline to do hyper parameters optimization like in tuto 7 but starting from the tars-base model?

[2022-05-19 15:02] AliHaiderAhmad001 opened #2782 "Combining BERT and other types of embeddings"
A while ago I was upset with the embed merging process and suddenly this amazing library pops up.
You are great!
-------------------------
My question:
The flair model can give a representation of any word (it can handle the OOV problem), while the BERT model splits the unknown word into several sub-words.

For example, the word "hjik" will have one vector represented in flair, while in BERT it wi

[2022-05-19 15:11] PhilWicke opened #2783 "POS span returns empty list on Colab"
Thank you for your dedicated work.
I've been trying to run the POS example from [HuggingFace](https://huggingface.co/flair/pos-english) in a Google Colab. Yet, I cannot retrieve the spans for POS. I've tried various different things, but it always seems to return an empty list and I have used the exact same code as in your tutorial.

I've set up a colab with my issue:
https://colab.research.google

[2022-05-19 16:17] alanakbik commented on #2783
Hello @PhilWicke - POS tags are saved at the individual Tokens of a sentence and are no Spans. You can access them by doing

[code]

I guess we should either fix the example on Huggingface or restore the functionality that get_spans also returns Token-level annotations.

[2022-05-19 16:40] PhilWicke commented on #2783
Wow! That was super fast! Thanks a lot.

[2022-05-19 16:40] #2783 closed

[2022-05-19 19:51] cpalenmichel opened #2784 "BIO tag format crashes with IndexError"
**Describe the bug**
Training an NER model with tag_format="BIO" fails with `The string 'S-ORG' is not in dictionary! Dictionary contains only: ['O', 'B-DATE', 'I-DATE', 'B-LOC', 'I-LOC', 'B-ORG', 'I-ORG', 'B-PER', 'I-PER']` and an IndexError.
It looks like the issue comes from `_get_gold_labels` only converting to BIOES.

**To Reproduce**
I'm using conll03 English data and my tagger is setup as f

[2022-05-20 00:11] bashayerm opened #2785 "Save model as a Pickle file"
A clear and concise description of what you want to know.
I want to save the whole model as a .pickle file to use it with flask API for prediction
How to save the model as a pickle file for that purpose ??

[2022-05-20 02:35] alanakbik commented on #2785
Hello @bashayerm simply call `.save()` - all Flair models are saved as pickle files by default.

[code]

[2022-05-20 03:07] alanakbik commented on #2782
Hello @AliHaiderAhmad001 thanks for using Flair! The `TransformerWordEmbeddings` class has default handling for words split into multiple subwords which you control with the `subtoken_pooling` parameter (your choices are "first", "last", "first_last" and "mean"), see the info here: https://github.com/flairNLP/flair/blob/master/resources/docs/embeddings/TRANSFORMER_EMBEDDINGS.md#pooling-operation

[2022-05-20 03:21] alanakbik commented on #2773
Hello @PartGi thanks for usino Flair! To your questions:
1. Is hard to answer, but training with a learning rate of 0.1 risks overwriting too much while fine-tuning with a tiny learning rate may not be enough to adapt an RNN to a new language (where word order might be different). I would probably try `.train()` but set a smaller initial learning rate, like 0.05 or so.
2. I would definitely fix th

[2022-05-20 03:22] alanakbik commented on #2772
@nareshchadoop could you provide a minimal example to reproduce this error?

[2022-05-20 03:24] alanakbik commented on #2762
Thanks @lixiu911 even a very small amount of data would be enough if we can reproduce the error with it. Or different public data that shows the error. We just need to somehow reproduce so we can debug.

[2022-05-20 03:31] alanakbik commented on #2766
Hello @iliaNecrov, the XLM-R model is very large, especially in combination with `in_context=True` the model requires a large amount of GPU memory.

You can tell Flair to use only CPU by setting

[code]

at the beginning of your code, but this would make everything extremely slow as XLM-R without GPU is not really feasible.

Possible options are:
- set a smaller context by setting `use_context=32`

[2022-05-20 03:39] alanakbik commented on #2529
@avihaybar `gdown` was updated in a recent PR (#2757), will be part of next release!

[2022-05-20 03:39] #2529 closed

[2022-05-20 08:58] stefan-it opened #2786 "HIPE-2022: Add all test data"
Hi,

test data for the HIPE-2022 shared task is released and should be added to the `NER_HIPE_2022` data loader.

[2022-05-20 13:09] AliHaiderAhmad001 commented on #2782
Thank you very much,
I also thought taking the sum would be fine too, right?

[2022-05-20 18:14] bashayerm commented on #2784
I have the same problem, looking for a solution

[2022-05-22 12:35] PartGi commented on #2773
@alanakbik very much appreciated!

FYI or for others that would try out the same few-shot transfer, extended training on target language with a  learning rate of 0.1 outperformed models with learning rate either of 0.05 or 0.02.

[2022-05-23 03:28] fmafelipe commented on #2777
@alanakbik I am using Colab, it shows that the version "flair-0.11.2" is installed, although to use TransformerWordEmbeddings it had an error and I had to specify the installation of transformers==4.18.0

[2022-05-24 19:39] josebarross opened #2789 "Mac GPU Utilization Support"
Torch has just released MAC M1 support using mps device. I want to know if flair will support it. I tried setting the flair.device manually to mps but it failed when running. Thank you in advance

[2022-05-25 02:20] ambuje commented on #2098
Hi,

I am also getting extra tags in my dataset. Did you find a way how to tackle this thing?

Thank you

[2022-05-25 06:29] kaliaanup opened #2790 "How to obtain bios labels for tokens in a sentence."
The following code

for sentence in sentences:
    for entity in sentence.get_labels('ner'):
        print(entity)

Span[0:2]: "Southwest Airlines" → ORG (1.0)
Span[7:9]: "Fox News" → ORG (1.0)

Where as I needed BIOS labels for tokens.

[2022-05-25 07:50] kaliaanup commented on #2790
Never mind. I figured it out.

[code]

[2022-05-25 07:50] #2790 closed

[2022-05-25 11:42] alanakbik commented on #2790
As of Flair 0.11.3 there is an easier way to do this, see https://github.com/flairNLP/flair/pull/2750, by setting `force_token_predictions=True`.

[code]

[2022-05-25 12:48] asm-cygu opened #2791 "Train with flair==0.11 cause Tensor RuntimeError"
Hello !

**Describe the bug**
I'm trying to reproduce experiments from
- https://huggingface.co/flair/ner-english-ontonotes-large#training-script-to-train-this-model
- https://github.com/flairNLP/flair/blob/master/resources/docs/EXPERIMENTS.md#ontonotes-named-entity-recognition-english

**To Reproduce**
download official archive from LDC, etc ... and launch the training script

**Expected behavior

[2022-05-25 20:25] kaliaanup commented on #2784
I am having the same issues when I enable tag_format="BIO". It basically gives the following error.

2022-05-25 16:20:11,118 The string 'E-ORG' is not in dictionary! Dictionary contains only: ['O', 'B-LOC', 'I-LOC', 'B-PER', 'I-PER', 'B-ORG', 'I-ORG', 'B-OTHER', 'I-OTHER', '<START>', '<STOP>']

For now I am bypassing the issue by disabling it. The predictions will be based on spans and BIOES forma

[2022-05-25 23:35] #2569 closed

[2022-05-25 23:35] #2566 closed

[2022-05-25 23:35] #2567 closed

[2022-05-26 05:24] bashayerm opened #2792 "Sequence tagger for ner"
Hi,

I have a problem regarding the Sequence tagger

I used to get the  output in this form before 2 months, Entity with BIO tag format
![M1](https://user-images.githubusercontent.com/47773165/170421400-84aa86fc-1f65-4f4f-945c-213d10d65f3f.png)

but Now in the new flair release, I got the output without the BIO format
![M2](https://user-images.githubusercontent.com/47773165/170421561-64dd5d25-4808

[2022-05-26 07:14] alanakbik commented on #2792
You need to set `force_token_predictions=True` to get token level tags in the newest Flair version. See #2790

[2022-05-26 07:14] #2792 closed

[2022-05-26 07:15] alanakbik commented on #2784
@kaliaanup this will be fixed in PR https://github.com/flairNLP/flair/pull/2787

[2022-05-26 07:51] alanakbik commented on #2789
Thanks for raising this issue @josebarross!

@whoisjones can you check if this works?

[2022-05-26 08:20] alanakbik commented on #2773
Cool, thanks for the info!

[2022-05-26 09:09] alanakbik commented on #2777
We are on Flair 0.11.3 now, perhaps you could test with this version? If the error persists, could you supply a minimal working example with data to reproduce this error?

[2022-05-26 15:10] kaliaanup opened #2793 "How to get the total number of parameters for FLAIR models"
the model.summary() does not work which could be obvious since FLAIR has its own model. The print(model) works however it prints the model layers without giving a summary. Can anyone enable this or a way to find it out?

[2022-05-27 10:00] krutik0204 opened #2794 "How can I custom train my data in flair? and get the NER for my data using my labels."
I am currently working on an NLP project. It has news articles data that is unlabeled. So using the Flair Library of NLP, I need to perform NER on it. I couldn't find any help regarding how to train it using custom data in Flair Library. Actually, I have a news article dataset and I need to use the Flair Library of NLP for NER because it's giving an F1 score of 93%. So how can I custom train my da

[2022-05-27 10:14] rafaeloliveirabd opened #2795 "Zero Shot Classification with different TARS-base and Stacked Word Embbedings from transformers"
Hello! I'm trying to find a good zero-shot classifier and flair + transformers seem to be the way to go. The zero-shot classification I'm trying to achieve should be done through several languages (10-20+), hence I'd like to use models such as these:

"MoritzLaurer/mDeBERTa-v3-base-mnli-xnli"

which have zero-shot-classification purposes itself (https://huggingface.co/MoritzLaurer/mDeBERTa-v3-base

[2022-05-27 11:03] krutik0204 opened #2796 "Corpus File Format Data (URGENT!!!!)"
Can you label my data, which is an unlabeled format according to the corpus data dile format becuase when I did that using spacy, it was not able to detect the entitny of the label. It just showed the text and the label.
So can you help me with filtering and labeling my data, which can be used by flair to give proper reuslts.
It is very URGENT. Require your help ASAP!

[2022-05-27 11:06] krutik0204 commented on #2796
I have hereby attached my data file.
I want to label the entity in dictionary format using flair.
Also, I want to add some special words that are not been recognized currently using flair. So I want to custom train my model.
Your help will highly be appreciated.

For Example: The Delhi High Court today directed the Centre and the West Bengal government to file in a sealed cover their responses on

[2022-05-29 03:07] LLh-lihan commented on #1236
same problem here. Pytorch 1.10.2 and python 3.6

[2022-05-30 22:27] setegonz commented on #2624
I am facing this same issue with flair` 0.11.3`. Any ideas?

[2022-05-31 10:10] rafaeloliveirabd opened #2797 "TARSclassifier returning no label"
**Describe the bug**
I'm trying to make a predict_zero_shot in data with over 1000 rows and when I do `sentence.labels` it returns an empy list. I'm using the following labels `classes ["positive","neutral","negative"]

**Expected behavior**
It should output at least one of the three labels above mentioned

In the code I just have an if statement that does try to overcome so that when the tags are

[2022-05-31 11:00] shreyassks opened #2798 "Unable to load dynamically quantized zero shot NER model"
I wanted to benchmark the latency by quantizing the NER model using Pytorch's Dynamic Quantization. I am able to successfully quantize the model to INT8 precision which reduced the model size from 1.4 GB to 520 MB. But when I save the model and try to load it I am getting below error (Missing Keys in state dict). Can anyone pls help me figure out how to resolve this issue

[code]

[
<img width="12

[2022-05-31 13:48] iliaNecrov commented on #2766
@alanakbik thanks a lot!

[2022-05-31 13:55] #2766 closed

[2022-05-31 21:02] helpmefindaname commented on #2798
Hi @shreyassks

at first I want to point out that `torch.save(quantized.state_dict(), "quantized_model/best-model.pt")` will never let you load a model via `TARSTagger.load()` the connected function of `TARSTagger.load()` is `tars.save()` and for `torch.save(model.state_dict())` it is `model.load_state_dict(torch.load(...))` the latter is a pytorch build-in and will only save the weights, while th

[2022-06-01 10:28] bashayerm opened #2799 "Generate classification report"
I have the model saved as a .pt file(model.pt), and I want to generate a classification report including the precision, recall, f1-score, and accuracy metrics.

 How can I get the classification report?

[2022-06-01 19:29] matirojasg opened #2800 "BIO format error"
Hi, I noticed that when I run NER experiments, by default, in the sequence tagger, the following tag_format="BIOES" format is used. However, my dataset follows the "BIO" format.

When I set this option, I get the following error:

[code]
When leaving that parameter by default, that error does not appear. Is the parameter working correctly with the BIO option? I checked my data, and I don't see any

[2022-06-02 08:37] shreyassks commented on #2798
Hi @helpmefindaname
I just tried to export the TARS NER model to ONNX and later I was able to quantise the model as well which brought down the artifact size from 1.4 GB to 340 MB. But I was not able to use the model in ONNX Inference Session. I see the output is token embeddings! How to get the NER tags out of it? Can you share a sample script for reference. This would help me a lot. Thanks in ad

[2022-06-02 13:51] helpmefindaname commented on #2798
if you have exported the onnx-model via
[code]
you should be able to just use `tars.save(...)` as usual, with having less memory size. You will have to handle both files, the `.pt` and the `.onnx`

[2022-06-02 23:59] ergodiclife commented on #2557
I'm also having this issue on Google Colab with:

- Python `3.7.13`
- Flair `0.11.3`

I get `AttributeError: module 'flair' has no attribute 'nn'` when I try to import `SequenceTagger` from `flair.models`.

[2022-06-03 14:24] elazzouzi1080 opened #2801 "RuntimeError: The expanded size of the tensor (514) must match the existing size (512) at non-singleton dimension 1. Target sizes: [8, 514]. Tensor sizes: [1, 512]"
Hello,
Can someone help me to solve this problem I am trying to train a ner model with BERT and BiLSTM+CRF
![image](https://user-images.githubusercontent.com/81225479/171873123-718cfa66-28f0-484c-a9a6-232a9bca282e.png)

[2022-06-06 04:27] shreyassks commented on #2798
Thanks for that! I was able to achieve 14x speed up compared to CPU.  Now it's taking 25ms/sentence (GPU+ONNX) and 360 ms/ sentence (CPU)

I also tried to inference on quanitzed model but didn't yield any speedup. I'm using Nvidia A10G GPU which has INT8 tensor cores. Can you suggest what more can be done to speed up further?

[2022-06-06 14:11] helpmefindaname commented on #2798
CUDA itself doesn't support the operations required for quantization. That is why torch supports it CPU only and ONNX CUDARuntime will be as slow as CPURuntime. You can try out the [TensorRT](https://onnxruntime.ai/docs/execution-providers/TensorRT-ExecutionProvider.html) from NVIDIA, and see if you can get that running.

[2022-06-07 02:41] SamtaBalpande2593 opened #2802 "How to store TARSTagger NEr output to CSV file in Azure Databricks"
How should I store TARSTagger entity output to csv file from Azure Databricks notebook

[2022-06-07 10:06] ghontolux opened #2803 "Saving and copying of labeled data from a dataset raises error message."
**Describe the bug**
I wanted to extend the `NER_GERMAN_LEGAL` dataset for knowledge distillation. But I was unable to store the data after loading from the flair datasets.

**To Reproduce**

[code]

Gives the following error message:

[code]

The error is raised also if the list contains only one element. When the list object is copied with `deepcopy` this error is raised too.

To avoid `Recursio

[2022-06-08 12:10] michaelgoeggelmann opened #2804 "MultiTagger ontonotes labels differ from SequenceTagger labels"
A clear and concise description of what you want to know.
Dear all,

I'm using the MultiTagger to tag my text with several labels, but the output of, e.g., the ontonotes NER differ from the SequenceTagger output, which seems to be more accurate or correct at all:
from flair.models import MultiTagger
from flair.data import Sentence

sentence = Sentence("To Mrs. Charles Dickens, 18th November 1832")

[2022-06-09 23:31] AliHaiderAhmad001 opened #2808 "Appropriate number of epochs when fine-tuning an existing LM"
Hi,
I want to fine-tuning flair on a domain specific dataset, what I want to know is how many epochs are suitable? And how much time would you estimate to complete the training if the number of sentences was about 7 million (about 150 million words)?

I'm using this code you provided [here](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_9_TRAINING_LM_EMBEDDINGS.md#fine-tunin

[2022-06-10 08:42] Sharing-Sam-Work opened #2809 "Anomaly detection and correction software in the context of expert-annotation project"
Hello, I am currently in the process of writing a paper on the creation and use of an anomaly detection and correction software customized for expert-annotation project, that is used in combination with FLAIR (for disagreement analysis between predictions and annotations).
I would like to know if you could recommend me a journal or conference that would be interested in such work.
Thank you very m

[2022-06-10 09:29] MattesR opened #2810 "Is the final model the best model?"
Hi,
When using the ModelTrainer and calling `trainer.fine_tune` with max_epochs, only a `final-model.pt` is stored, no best model. Is that final model the best model or is it the model which was created after the last epoch, regardless of whether there were better models during previous epochs? If so, how to get the best model?

[2022-06-10 09:58] AliHaiderAhmad001 commented on #2808
@alanakbik

[2022-06-10 13:30] nunziaBa commented on #2791
I repeated the same experiment with the same error.
The experiment works with version 0.10.

[2022-06-10 18:23] aabouelleil-seniorlink commented on #2740
I am having a very similar problem as well, and have tried multiple solutions that haven't worked, but I'll share them here.

### The Setup

AWS EMR cluster with several worker nodes. Flair 0.11 was installed via bootstrap script. Code was run in an EMR Studio Notebook.

### Code

First the import and initialization of the classifier
[code]
This resulted in a logging error as follows, but I contin

[2022-06-10 21:44] stefan-it commented on #2793
Hi @kaliaanup , you could try to use this solution:

[code]

[2022-06-11 20:10] katreparitosh commented on #2725
Hi, any advice on this? If I have a locally downloaded model then which path should I move it too?

[2022-06-12 11:21] helpmefindaname commented on #2725
You need to do the following steps:
* use flair version 0.1
* download the model
* load it and save it again to ensure the latest version is used.

After that, the flair_model also stores the transformers tokenizer and therefore won't need to download it.

[2022-06-16 08:37] KINJALMARU16 commented on #499
Hi, Is there any update on using Multi GPU ?

[2022-06-16 09:35] rensdebee opened #2813 "FLAIR NER (not large)"
I encounter an issue when using the default dutch ner model as a NER classifier. When parsing some words are not recognized and throw an index error (Index out of range in self). I suspect this has something to do with the word embeddings. For example the sentence: "mr Frank visser is een man " doesn't work however "Mr Frank Visser is een man" does work. So parsing mr won't work by Mr does work. T

[2022-06-16 10:33] KDercksen opened #2814 "Manually constructing Sentence object with labels that works with ModelTrainer"
Dear Flair devs,

Previously, it was possible to build a Sentence by hand using something like the following code:
[code]

However, this no longer seems to be possible due to the Sentence constructor requiring a 'text' parameter. If I avoid that error (`Sentence("")`), I can still construct a sentence by hand - but then it won't work in the ModelTrainer anymore.

This is due to this function https

[2022-06-16 11:07] KDercksen commented on #2814
I see there is a function `flair.models.sequence_tagger_utils.bioes.get_spans_from_bio` that can help me. Good enough for me, closing this!

[2022-06-16 11:07] #2814 closed

[2022-06-16 13:34] Pushpalathahareesh opened #2816 "evaluate method path in flair Repo"
hi thlor,

where can i find in the Flair repo the tagger.evaluate() method. i checked in sequence_tagger_model.py...but i could not find any method evaluate.

Pls help me with the path to locate evaluate module in flair repo.

regards,
Pushpalatha M

[2022-06-17 06:11] possible1402 opened #2818 "Annotaion Scheme of CRAFT and BIONLP13CG dataset"
The list in [https://github.com/flairNLP/flair/blob/master/resources/docs/HUNFLAIR_CORPORA.md](url) shows the entity types of CRAFT and BIONLP13CG datasets include “Species”. While I check the original paper, there is no "Speicies" category, insead, the "cell line" category is included. So I wanna ask if there is any reference for the annotation entity type for the list.

[2022-06-17 09:07] #2816 closed

[2022-06-17 13:12] albert-salman opened #2823 "FLAIR NER English on SageMaker Batch Transform"
Hello,
I am using following guide as an example: https://github.com/huggingface/notebooks/blob/main/sagemaker/12_batch_transform_inference/sagemaker-notebook.ipynb

hub = {
    'HF_MODEL_ID':'flair/ner-english',
    'HF_TASK':'token-classification'
}

huggingface_model = HuggingFaceModel(
   env=hub, # configuration for loading model from Hub
   role=role, # iam role with permissions to create an

[2022-06-17 13:29] kaliaanup commented on #2801
I am having similar issues with Flair.

[2022-06-18 08:03] stefan-it commented on #2786
Feature was added with #2805 , so I'm closing here :)

[2022-06-18 08:03] #2786 closed

[2022-06-18 20:40] dumblob commented on #2432
I am still interested in this - maybe remove the stale bot here?

[2022-06-18 21:42] #2581 closed

[2022-06-18 21:42] #2580 closed

[2022-06-18 21:43] #2588 closed

[2022-06-18 21:43] #2587 closed

[2022-06-18 21:43] #2589 closed

[2022-06-18 21:43] #2591 closed

[2022-06-18 21:43] #2508 closed

[2022-06-18 21:44] #2597 closed

[2022-06-18 21:44] #2606 closed

[2022-06-19 15:11] akshaykekuda opened #2824 "Slow inference using TARSClassifier base model on GPU"
The inference time during evaluation using dev/test set is very slow. While training happens very fast as expected the evaluation time is too large for GPU. Running the same experiments using TransformerDocumentEmbeddings model results in the expected lightning training and inference speed using the same datasets(I understand that the embedding model is much smaller than that of tars base)

**Scre

[2022-06-19 22:35] helpmefindaname commented on #2824
Hi @akshaykekuda
how many different labels do you have?
Is `num_negative_labels_to_sample` set to the default?
How many positive labels does one sentence have on average?

The training will create a sample for each positive label plus `num_negative_labels_to_sample` per sample.
The evaluation will do one prediction per sample and label, hence it could be way more.

[2022-06-20 09:40] Ihebzayen opened #2826 "TypeError: object of type 'Token' has no len()"
2022-06-20 09:29:33,975 Reading data from input_data
2022-06-20 09:29:33,975 Train: input_data/train.txt
2022-06-20 09:29:33,975 Dev: input_data/valid.txt
2022-06-20 09:29:33,975 Test: input_data/test.txt
2022-06-20 09:29:45,152 Computing label dictionary. Progress:
14987it [00:00, 20715.78it/s]
2022-06-20 09:29:45,877 Dictionary created for label 'ner' with 21 values: I-NP (seen 66645 times), B-N

[2022-06-20 17:52] Lingepumpe commented on #2826
This issue occurs when your train dataset is tagged on a token basis using BIO or BIOES tagging, and then you try to train a SequenceTagger on a predict_spans task...the sequencetagger incorrectly assumes he will have spans to work with in the training dataset.
Working on a fix.

[2022-06-21 08:03] MattesR commented on #2536
On Flair 0.11.1, this doesn't work anymore, since the DataPair method `to_original_text` was deleted and it is called during evaluation. I fixed it locally by just giving the DataPair class the method back!
I added:
[code]
back to the DataPair class. I haven't done a PR because IDK whether you want to fix that somewhere else or with other code. You can add it back yourself or I'll create a PR!

[2022-06-21 08:18] MattesR commented on #2810
I feel inclined to bump this question, as I can't figure it out.
Was the naming/storing of the model changed in 0.11? It is still referred to in the description of release 0.10.

[2022-06-21 08:32] stefan-it commented on #2810
Hi @MattesR ,

could you try to use the latest version of Flair and post the complete `fine_tune()` call :thinking:

Here's an example call that I've used in my experiments:

https://github.com/dbmdz/clef-hipe/blob/main/experiments/clef-hipe-2022/flair-fine-tuner.py#L104-L113

When you set `use_final_model_for_eval=False` a best model is stored and it is also used for the evaluation at the end. In

[2022-06-21 08:37] stefan-it commented on #2794
Hi  @krutik0204 ,

could you post an example of your training data and the `columns` array?

[2022-06-21 09:38] MattesR commented on #2810
Hi @stefan-it,
thanks for clearing this up!
I indeed did not set `use_final_model_for_eval=False`. The model accordingly just used the final model for evaluation.
I'm really glad for the clarification. Alas, I got to rerun a few experiments :grin:
Kind Regard

[2022-06-21 09:38] #2810 closed

[2022-06-21 12:31] Ihebzayen commented on #2826
thank you, i solved it

[2022-06-21 12:31] #2826 closed

[2022-06-21 15:54] stefan-it commented on #2801
Hi @elazzouzi1080 and @kaliaanup ,

could you provide an example code snippet for the fine-tuning? I guess RoBERTa is used as model :thinking:

[2022-06-21 15:56] stefan-it commented on #2799
Hi @bashayerm ,

this is possible with the following code snippet - it assumes that you've already constructed a `Corpus` object:

[code]

Then `result` outputs a classification report, e.g.:

[code]

I hope this helps :)

[2022-06-21 16:00] kaliaanup commented on #2801
Hey @stefan-it I was using a custom pretrain model based on google/rembert. For some odd reasons in self.tokenizer.model_max_length was coming larger than LARGE_INTEGER. This resulted in making self.truncate = False. Hence, the issue. So I kind of hacked it to fix self.tokenizer.model_max_length=256 [or any number less than LARGE_INTEGER. This solved the issue.

[2022-06-21 16:24] stefan-it commented on #2801
Hi @kaliaanup,

thanks for the explanation! I'm currently trying to reproduce it and:

[code]

correctly outputs 256, and the current Flair code also uses the `model_max_length`:

https://github.com/flairNLP/flair/blob/3ba253cd7b81ecdd5d023c17b9c0d9ca1bd27219/flair/embeddings/base.py#L217

Are you using the latest master version of Flair?

[2022-06-21 16:27] kaliaanup commented on #2801
Yes I am using the latest version and also I guess the error came from creating a custom pre-training model using the Rembert architecture.

[2022-06-22 01:26] fmafelipe opened #2828 "SentenceTransformerDocumentEmbeddings model in Spanish?"
A clear and concise description of what you want to know.

Hello, I am working on a project in Spanish, and I need to obtain the embeddings of some sentences in my corpus, for this I use ` SentenceTransformerDocumentEmbeddings` but note that these models are pre-trained in English.
Is there a model of these pre-trained in Spanish?
Where I see the models in English is from this sheet.

https://docs

[2022-06-22 09:43] ledniy opened #2830 "Can't export ner-large to pth"
**Describe the bug**
Can't export `ner-large` model to pth, getting small file (19mb), but when I'm doing the same with `ner` model I'm getting 400+ mb pth file

**To Reproduce**
[code]

**Expected behavior**
pth file with size ~2gb

**Environment (please complete the following information):**
 - OS: Amazon Linux , ml.c4.4xlarge
 - Version: flair-0.11.3

**Additional context**
I'm doing it for dep

[2022-06-22 12:40] #2699 closed

[2022-06-22 12:55] helpmefindaname commented on #2828
Hello @fmafelipe,
you can use any model that is on the huggingface hub, filtering for sentence-transformers and spanish you get the following: https://huggingface.co/models?language=es&library=sentence-transformers&sort=downloads

[2022-06-22 14:04] elazzouzi1080 commented on #2801
But with TransformerWordEmbeddings I have this error
![image](https://user-images.githubusercontent.com/81225479/175048809-000d1a9b-611e-40a7-b64b-537af9a1dc9b.png)

[2022-06-22 15:01] GiarteDataTeam commented on #1681
I got a similar error when importing embedinds. I use Python 3.9 in Windows 11.

`from flair.embeddings import FlairEmbeddings, DocumentPoolEmbeddings, BertEmbeddings, XLNetEmbeddings`

`Traceback (most recent call last):
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 972, in _find_and_load_unlocked
  File "<frozen importlib._boots

[2022-06-22 20:55] i4meta commented on #2762
@alanakbik - Hi Alan. I wanted to confirm that this ticket is still awaiting some **sample data** for replicating the issue. If it is, I am happy to put some data together and post it to **a location** you all can pull it from - but please specify.

[2022-06-23 12:34] helpmefindaname commented on #2830
hey @ledniy have you tried `model.save(...)`?

[2022-06-23 14:40] adarsh-dikhit opened #2832 "Where is file Sentence.py"
Hello Everyone
Fille is not found .
ImportError: cannot import name 'Sentence' from 'flair.embeddings' (D:\POC-QUESGEN\AQGSAS-master\flair\embeddings\__init__.py)

[2022-06-23 14:59] akshaykekuda commented on #2824
I do have around 50 labels. Everything is set to default. The same dataset on a similar distil bert model finishes inference in 2 mins, while with tars base it takes 1 hour. Looks like something is off.

[2022-06-23 15:51] tobiasb96 opened #2833 "Request to update sentencepiece requirement to 0.1.96"
Dear Flair developers,

we have noticed a minor version complication when installing Flair on our machines. We are using Python 3.10 and encountered the problem of `sentencepiece` not being installed properly due to a missing wheel on [PyPi](https://pypi.org/project/sentencepiece/#files).

They released the version 0.1.96 last year which should contain minor, non-breaking changes according to thei

[2022-06-24 09:50] helpmefindaname commented on #2824
2 minutes * 50labels = 100minutes (1.66hrs). I suppose the 2 minutes are rounded up?
But the numbers sound fine to me.

[2022-06-24 18:36] possible1402 opened #2836 "Can't download biomedical abstracts of HunFlair"
Dear Flair developers,

I try to process the biomedical NER datasets used in HunFlair and I use the code from flair/datasets/biomedical.py. While downloading the datasets, some requsts errors occur. I'm wondering if you can share the dataset directly in a google drive maybe?

Thanks  for your help!

[2022-06-27 07:43] pikaduck commented on #2729
using the force_token_level_predictions does away with span level predictions. I think the functionality in the previous version was seriously helpful where we got chunked span level entity tags as well as token level predictions. This helps with token level result comparison with other models such as plain CRF with NLTK or other libraries. Please bring the feature back if possible, it is impossib

[2022-06-27 07:46] alanakbik commented on #2729
Can you clarify? In the current version you can chose whether you want token or span predictions by specifying `force_token_level_predictions=True` or `force_token_level_predictions=False`, so both options exist. see #2750

[2022-06-27 09:02] #2784 closed

[2022-06-27 13:39] whoisjones commented on #2836
hi @possible1402, can you specify please datasets used + error you get?

[2022-06-27 13:39] #2737 closed

[2022-06-27 14:05] #2657 closed

[2022-06-27 14:14] whoisjones commented on #2602
Hi @arda-vianai your issue arises from the data format you use. Please use IOB formatted files for sequence tagging tasks in flair. Prefixes such as `L-` or `U-` wont work.

[2022-06-27 14:14] #2602 closed

[2022-06-28 02:37] yspaik opened #2841 "Suffering to make 'tars base Korean version'"
I want to make a Korean base tars model that replaces 'tars-base-v8.pt' based on the Korean dataset and the Korean bert pretrained model on the huggingface. The train loss curve falls well as expected, but the dev loss is diverging rather than converging. The dev score also shows a saturation pattern after the initial increase.

Can you tell me the code or hyperparameters you trained on 'tars-base

[2022-06-28 08:30] djstrong commented on #2761
It looks like micro f1 is not correctly calculated.

[2022-06-28 13:26] whoisjones opened #2843 "Refactoring - _init_model_with_state_dict()"
**Is your feature/enhancement request related to a problem? Please describe.**
Remove if conditions with get() method which is a better solution for using default parameters.

[2022-06-28 15:00] mariosaenger commented on #2818
Hi @possible1402

sorry for the late response. For the training of HunFlair on multiple corpora we have to normalize corpus-specifiy entity types resp. type names to a unified form. This mapping was done manually. Unfortunately, you can find this mapping only in the source code in the respective entity type specific version of the corpora (e.g. HUNER_SPECIES_CRAFT_V4 or HUNER_SPECIES_BIONLP2013_CG

[2022-06-29 07:20] #2833 closed

[2022-06-29 10:18] miwieg opened #2847 "roberta with long text instances"
I am using FLAIR for text classification ("TextClassifier") with RoBERTa. My dataset just contains about 2000 instances but the text instances themselves are fairly long, i.e. longer than 512 tokens.
I understand that, in principle, those transformers are not capable of processing such long text instances, so I am wondering how FLAIR solves this issue. (My code using FLAIR is running and producing

[2022-06-29 10:25] helpmefindaname commented on #2847
Hi @miwieg,
TransformerEmbeddings provide a parameter `allow_long_sentences` if that parameter is set to True, the embeddings will take some overlap to compute the token embeddings. (E.g. "This is a very very very long sentence" with a token length of 6 would be split into:
"This is a very very very" and "very very long sentence" and both gets embedded.

For TextClassification, you can use this by

[2022-06-29 10:53] miwieg commented on #2847
Thank you very much for your reply.

What is the default setting of `TextClassifier`? Does it simply strip off the any tokens following the 512th token?
My instances actually comprise more than one sentence. So, I guess `cls` is not a good choice?

[2022-06-29 12:32] #2631 closed

[2022-06-29 12:32] #2635 closed

[2022-06-29 12:32] #2603 closed

[2022-06-29 12:32] #2639 closed

[2022-06-29 12:32] #2604 closed

[2022-06-29 12:32] #2608 closed

[2022-06-29 12:32] #2612 closed

[2022-06-29 12:32] #2613 closed

[2022-06-29 12:32] #2596 closed

[2022-06-29 12:32] #2621 closed

[2022-06-29 12:32] #2526 closed

[2022-06-29 12:32] #2623 closed

[2022-06-29 12:32] #2628 closed

[2022-06-29 12:32] #2629 closed

[2022-06-30 05:47] Lingepumpe commented on #2826
@mlentzen In flair-0.11.x, if you want to solve a span based problem with a SequenceTagger, make sure you label your dataset using the Span notation. Labeling individual tokens (using BIO or BIOES convention to signify spans) doesn't work and leads to the above error.

If your code now does:
[code]
...

Change it to:
`sentence[0:2].add_label("ner", "Animal")`

I am also working on a fix to make to

[2022-06-30 07:27] mlentzen commented on #2826
Thank you very much! That is a quick and easy solution.

[2022-06-30 08:00] GuiGel opened #2848 "ModelTrainer fails when training with tensorboard option"
**Describe the bug**

`ModelTrainer.train` method fails with error ```UnboundLocalError: local variable 'train_part_eval_result' referenced before assignment``` when used with tensorboard.

This error is simply due to a forgotten tab in the `flair.trainers.trainer` module line 614 and can be easily corrected.

**To Reproduce**

[code]

**Expected behavior**

No error appears.

**Screenshots**

[co

[2022-06-30 15:01] bastianwegge commented on #2833
@alanakbik sorry to bug you with a closed issue, but is there a chance to get a patch-release for this? Maybe something like `0.11.1`?

[2022-06-30 17:06] i4meta commented on #2762
Hi @alanakbik,

Thanks for the answers - some follow-on questions below:

1. **START/STOP Tags** - You mentioned that the < START > and < STOP > tags are used by the CRF layer only. Should we be adding them? Or is Flair injecting them as needed?

2. **Sample Data** - the sample data I have is Connll-03 converted to have inverted IOB tags (position after entity type, e.g.  LOC-B, LOC-I). It helped

[2022-06-30 21:22] i4meta opened #2849 "Test Data Failures: Provide contextual details [code provided]"
At present Flair provides wonderful metrics (i.e. F1 Scores) on the Test data set at completion. However, it would be quite useful for those building out their own training data to be able to print out which Entities are failing - either in the context of the sentence in which they occur OR as an aggregated list of of entity classes and values.

**Is your feature/enhancement request related to a p

[2022-06-30 22:00] helpmefindaname commented on #2762
about **4.**: there is [this](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4331690/) and more generally [this](https://arxiv.org/pdf/1603.01360.pdf)

about **1.**: this is done by the tagger itself, you don't need to add it.

[2022-07-01 18:28] possible1402 commented on #2818
Hi @mariosaenger

Thanks for your response. I understand that for species, you do the entity type mapping. If so, I saw that there are "cell line" type in the original CRAFT and "cell" type in BIONLP13CG dataset. So I'm wondering that since HunFlair covers the cell line entity type, why the "cell line" entities in CRAFT and BIONLP13CG dataset are not included.

Best,
Liangping

[2022-07-02 13:09] miwieg commented on #2847
Just to clarify whether I understood you correctly:

If I follow the typical text classification example, i.e. "Training a Text Classification Model" in:
https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_7_TRAINING_A_MODEL.md

Do I just a have to add the following lines after the initialization of the `TransformerDocumentEmbeddings`-object

[code]

It would also be good to know

[2022-07-03 00:04] helpmefindaname commented on #2847
I don't know if that works, I would rather add it to the constructor:
``document_embeddings = TransformerDocumentEmbeddings(..., allow_long_sentences=True, cls_pooling="mean")`

[2022-07-03 06:50] miwieg commented on #2847
This is what I originally tried but the constructor does not account for these parameters.
I ran the code as I suggested above. The code could be run on my data -- I did not receive any error messages. Can I conclude from that that the pooling was implemented as requested?

[2022-07-03 13:17] helpmefindaname commented on #2847
You'll never receive error messages by setting variables - no matter if they existed before or not - that doesn't say anything.

Are you sure that you are on the latest version (flair==0.11.4)? If not, you need to update.

[2022-07-04 13:38] isaac-kelleher-unger opened #2852 "Questions on TARS data set-up and prediction scores"
Hi there,

**Background:**
I am using a few-shot TARS model to label sentence sentiment as one of 3 possible classes: class_a, class_b, or class_c.

**Questions 1:**
If my sentences are multiple lines long (e.g. _"This is a sentence. And this is another sentences related to the first sentence. This is my final sentence."_) what is the best way to format this for few-shot TARS? Can the entire phras

[2022-07-04 22:29] helpmefindaname commented on #2847
yes, sorry I meant 0.11.3

[2022-07-05 08:39] alanakbik commented on #2800
This is likely fixed by #2787 in master branch. Feel free to reopen (with minimal code snippet to reproduce) if the error persists!

[2022-07-05 08:39] #2800 closed

[2022-07-05 08:43] mishraaditya595 opened #2853 "Failing to install Flair on Apple Silicon"
**Describe the bug**
I am trying to install flair on my MacBook m1 air. I have used both `pip install flair` and `pip3 install flair but it fails everytime.

Here are the terminal logs:
`DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://

[2022-07-05 08:45] alanakbik commented on #2833
Hello @bastianwegge we've made some bigger changes so we'll likely release a 0.12.0 version in a few weeks (that will drop Python 3.6 support). In the meantime, you could install directly from master branch to get this fix.

[2022-07-05 08:56] bastianwegge commented on #2833
Thanks a lot for the update! We're looking forward to using 0.12.0 🙌

[2022-07-05 23:05] helpmefindaname commented on #2853
Hi @mishraaditya595
this looks like it is failing to install the tokenizers dependency, I suppose the contributors and maintainers of that repository will be able to help you with that problem (or work on a fix)

[2022-07-05 23:09] helpmefindaname commented on #2852
About Question 1:
A `Sentence` is more representing a textual unit which you want to classify. The length does not matter, as long as you are not over the subtoken limit of the underlying transformer model (usually 512).

About Question 2:
It sounds to me like you want to use `tarsmodel.predict_zero_shot(sentence, label_candidates, multi_label=False)`

[2022-07-06 06:56] mariosaenger commented on #2818
Hi @possible1402 ,

oh - I'm afraid I misunderstood your question. For CRAFT, we excluded the CL annotations, because they "only" contain cells but not cell lines (see description [here](https://github.com/UCDenver-ccp/CRAFT/tree/master/concept-annotation)). For BioNLP13CG, we were not aware that the corpus also holds cell annotations. But again, here one has to check whether the annotations are t

[2022-07-06 07:22] possible1402 commented on #2818
Hi @mariosaenger ,

Thanks for your explanation. All clear!

Best,
Liangping

[2022-07-06 07:22] #2818 closed

[2022-07-06 23:37] QuiteHorn opened #2854 "error: Microsoft Visual C++ 14.0 or greater is required"
I'm trying to install Flair in my venv in PyCharm, but it tells me to download Visual C++. I have already installed the ditributives of 14.32.31332 version but it still throws the mistake. I also downloaded Visual Studio Build Tools 2019, but it didn't help me too.
![error](https://user-images.githubusercontent.com/63408009/177660173-618a7967-8a70-4144-9c4b-50795052c65c.PNG)
![с++](https://user-im

[2022-07-07 11:03] smallcardum opened #2855 "How to use gpu in model tuning?"
I am following the constructions in the [Tutorial 8: Model Tuning](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_8_MODEL_OPTIMIZATION.md)
However, when I follow the codes in the page, I find that I am still using CPU to do the work:
`2022-07-07 18:26:55,244 Corpus: "Corpus: 339 train + 101 dev + 129 test sentences"
2022-07-07 18:26:55,244 -----------------------------------

[2022-07-07 14:41] isaac-kelleher-unger opened #2856 "Implementation of SWA"
Hi there,

I would like to use SWA while training my model. Currently SWA is implemented in flair with the `torchcontrib` package. However this is now deprecated as SWA is now part of the main pytorch release (`torch.optim.swa_utils`).

Would it be possible for flair to use the pytorch implementation rather than the torchcontrib implementation of SWA?

Thanks!

[2022-07-07 19:09] coolcoder001 opened #2857 "Is it possible to get text rank score for phrases (like pytextrank) in flair ?"
Hi ,

I am currently extracting NER entities using Flair. I would like to know the importance of each entity by using text rank (or variant of text rank).

I came across a library (https://github.com/DerwenAI/pytextrank), which already does this. But, the problem with pytextrank is that it is too tightly coupled with Spacy.

Is it possible to do so in Flair ?

[2022-07-08 10:13] agademic commented on #2855
As far as I know, Flair will use a GPU automatically if available, so there is no need to specify anything in the code.
Do you have CUDA installed? If so can you run `torch.cuda.is_available()` and check the result? Or better run `nvidia-smi` in your terminal. Here you can see if CUDA is installed and the current usage of your GPU.

[2022-07-10 14:43] #2646 closed

[2022-07-10 14:43] #2642 closed

[2022-07-10 14:44] #2637 closed

[2022-07-10 14:44] #2647 closed

[2022-07-10 14:45] #2649 closed

[2022-07-12 18:03] yash-rathore opened #2859 "module 'conllu' has no attribute TokenList"
![image](https://user-images.githubusercontent.com/63536277/178562229-5b6595c0-218b-4db9-978b-fafbfd1508ed.png)

This did not happen till today . I have been using this basic code for 6 months and this bug is new and did not appear anytime before today.
Please resolve quickly

[2022-07-12 22:25] helpmefindaname commented on #2859
Hey @yash-rathore, looking at the conllu [release notes](https://pypi.org/project/conllu/#history) it looks like they released a new version that seems to change the structure.
I suppose you can fix your issue by pinning the version `conllu<=4.4.2` to ensure that you install a version that is still compatible.

[2022-07-12 23:17] hbailla commented on #2859
I have the same issue. The strange thing is I have this error when I run the code on Google Colab , while it works fine on my local machine

[2022-07-12 23:20] hbailla commented on #2859
This works just fine. Thank you SO MUCH

[2022-07-13 07:24] yash-rathore commented on #2859
This works absolutely fine . Thankyou for resolving this issue

[2022-07-13 10:24] lilsgit opened #2860 "Dependency package conllu version issue"
We were using Flair in our corn job pipeline for the sentiment. Yesterday the pipeline just broke, I checked and the error shows,

`conllu.TokenList:
AttributeError: module 'conllu' has no attribute 'TokenList'
`

It turns out conllu package version just got updated yesterday to 4.4.3 which has compatibility issue with Flair...

I rolled conllu version back to 4.4.2 for now and it's all working fi

[2022-07-13 11:09] pallashadow commented on #2859
another option: add these 2 lines before import flair
`
import conllu
conllu.TokenList = conllu.models.TokenList
`

[2022-07-13 13:51] OleksandrKorovii opened #2862 "Multi-label token classification"
Is it the proper way to use sequence tagger for multi-label token classification? I have a dataset where one token can have one or more labels.

[2022-07-13 17:03] EmilStenstrom commented on #2859
Thank you for reporting. I just released 4.5.1 which makes TokenList available as an import directly from conllu, and declares the public API via `__all__`.

[2022-07-13 20:34] helpmefindaname commented on #2859
Thank you @EmilStenstrom,
yes this fixes the issue!

[2022-07-14 08:09] alanakbik commented on #2859
Awesome @EmilStenstrom thanks for fixing this so quickly! And thanks @helpmefindaname for testing!

[2022-07-15 12:45] faz9 opened #2864 "IndexError"
I was trying to train FLAIR for NER and i had this bug.
  File "FLAIR1.py", line 37, in <module>
    trainer.train('resources/taggers/example-ner',learning_rate=0.1,mini_batch_size=16,max_epochs=10,main_evaluation_metric=("macro avg", "f1-score"),embeddings_storage_mode="cpu")
  File "flair/trainers/trainer.py", line 624, in train
    dev_eval_result = self.model.evaluate(
  File "flair/nn/model.p

[2022-07-15 17:59] rxjx opened #2865 "threshold for NER model"
I can't seem to find a way to set a threshold for inference from a custom tuned FLERT NER model, or indeed even for the built in NER models. Looking at the source doesn't seem to help but I must be missing something very obvious. Hoping someone can point me to the right doc or code.
Basically, I want to see spans that have scores above a certain threshold.

[2022-07-18 05:03] sidvenkat1988 opened #2866 "Add Labels for Relation"
Hi! I see there is an example to add label for NER:

example sentence
sentence = Sentence("Humboldt Universität zu Berlin is located in Berlin .")
sentence[0:4].add_label("ner", "Organization")

Likewise, if I want to add a new label highlighting the relation between 2 entities, how can I go about doing it?
For example, I want to create a relationship in the above sentence between entities ""**Hum

[2022-07-18 09:09] pruthvi-hegde opened #2867 "Can I use TransformerDocumentEmbeddings to generate embeddings of publications abstracts ?"
I am working on a usecase where I need to generate document embeddings of abstracts of few articles.
I am using TransformerDocumentEmbeddings to instantiate PubMedBert model. And, it generates 768 dimensional vector per document. Since, flair documentation says that the input to TransformerDocumentEmbeddings is a sentence, is it fair to feed in paragraph of multiple sentences  and obtain embedding

[2022-07-18 10:43] ataniz commented on #1661
Hi @stefan-it , is there any updates on the PR? error still persists

[2022-07-18 18:52] Datagits opened #2868 "Trouble loading in Sentiment140 dataset (UnincodeEncodeError)"
`corpus = flair.datasets.SENTIMENT_140()`

--------------------------------------------------------------------------
UnicodeEncodeError                        Traceback (most recent call last)
Input In [62], in <cell line: 1>()
----> 1 corpus = flair.datasets.SENTIMENT_140()

File ~\Anaconda3\lib\site-packages\flair\datasets\document_classification.py:1075, in SENTIMENT_140.__init__(self, label_n

[2022-07-19 03:06] sidvenkat1988 commented on #2866
@helpmefindaname - Great options both, thanks for your help!

[2022-07-19 03:06] #2866 closed

[2022-07-19 07:53] whoisjones commented on #2868
can you specify further information such as os, environment, etc. as required in the template? otherwise I can't reproduce it

[2022-07-19 08:04] whoisjones commented on #2867
Yes you can obtain your embeddings this way, flair's Sentence object does not necessarily end with "."

[2022-07-19 19:10] i4meta commented on #2849
So . . . finally figured out how simple this is and thus maybe not really worthy of being a feature unto itself, but still very useful for those in need.

For those interested - here is my take on what to run after the model finishes training:

[code]

[2022-07-20 19:50] #2868 closed

[2022-07-20 20:47] ianmcampbell opened #2869 "Unable to Train Multilabel TextClassifer"
I have a complex multilabel classification task. The label space is approximately 13000 labels (specifically a subset of the [Human Phenotype Ontology](https://hpo.jax.org/app/)).

The task it to classify sentences with zero or more labels. About 5% of the corpus has zero labels, 75% has one label, and 20% has more than one label.

I installed `flair` from `master` today (20 July 2022).

If I trai

[2022-07-21 15:52] helpmefindaname commented on #2869
Hey @ianmcampbell,

if I understand the `pos_weight` correctly, there is no reason to choose the `weight` over the `pos_weight` in a multi label setting?
If so, you can set the weights when creating the Classifier and then overwrite the loss function after creating the text classifier:
[code]

If that makes your model work, I think it will be apprechiated to creat a PR that changes the weight para

[2022-07-21 16:21] pietrolesci opened #2870 "Example using own corpus for training"
Hi there,

I am trying to train an NER tagger on my own data. In the docs there does not seem to be worked out examples of using flair to train on other datasets other than the ones available. Having an example would be great for learning purposes.

Thanks a lot!

[2022-07-21 18:09] payelsantra opened #2871 "Flair training error while scibert as base model"
Hi,
I was trying to use scibert as a base model in Flair. But I am facing the error "The expanded size of the tensor (827) must match the existing size (512) at non-singleton dimension 1.  Target sizes: [4, 827].  Tensor sizes: [1, 512". How to solve this?

<img width="905" alt="2022-07-21 (2)" src="https://user-images.githubusercontent.com/94452316/180282725-13e42ae6-4e5d-4790-a5f1-ecc4ce28a92c.p

[2022-07-22 09:53] pietrolesci commented on #2826
Hi there,

Having the same issues. I am using the `JsonlCorpus` to load data and the construction of `Sentence`s is done automatically at the token level. Any easy fix to annotate spans from token labels?

Thanks a lot in advance!

[2022-07-22 10:28] shern2 commented on #680
Spacy's `displacy` supports manual inputs now.
Here's a snippet to use it

[code]

[2022-07-22 12:06] OleksandrKorovii commented on #2826
@Lingepumpe How to use your solution with JsonlCorpus or should I write my own corpus?

[2022-07-22 15:07] Lingepumpe commented on #2826
Quick fix is to use flair-0.10. If 0.11 is needed, the fastest work-around that I can think of is to change JsonlCorpus (create FixedJsonlCorpus using a copy of the code), where span labeling is used.

The real fix, which is to fix the issues with token labeling BIO labels, is a bit more complicated and I have not submitted a PR for it yet.

[2022-07-24 10:37] KaiyeYang-git opened #2872 "Sentimental Classification for Multiple Sentences"
I have understood how to classify one sentence's sentiments from '''TextClassifier.load('sentiment-fast')'''
However, how can I do multiple sentences for their separate sentiments for having a fast processing speed?
I know a for loop is functional for this case it is sooo slow

the example I am doing now is still based on one sentence:
scaler = MinMaxScaler(feature_range=(-1, 1))
flair_score=[]
de

[2022-07-25 05:28] anononymus opened #2873 "Why do sometimes stacked embedding methods underperform ?"
I observe that stacking one embedding with the other sometimes leads to lower accuracy than the individual. I am working on low-resource Indian languages. When I use stacked embedding - Glove, BPE, BERT, XLM-R, MuRIL with IndicBERT, I observe lower POS accuracy scores than IndicBERT on its own. In most cases, the accuracy improves. I wonder why does it happen?

[2022-07-25 13:39] KaiyeYang-git commented on #2872
I have put all my sentences in a list and it can only generate one result which represents the sentiments of all sentence, but not the sentiments of each sentence.

![Screenshot 2022-07-25 143850](https://user-images.githubusercontent.com/92261453/180790818-f49b9867-a15d-4d87-9683-902de562bc05.png)

[2022-07-26 11:26] alanakbik opened #2874 "🎓 New position for PhD candidate available at HU Berlin!"
Hello all,

we now have another **position for a PhD candidate** available! It is a full-time and fully paid research associate position in my group, intended for persons with a master degree in computer science that aim to pursue a PhD in machine learning or NLP.

**The project:** This is the first of multiple positions in a big project in which we aim to create powerful language models a la BERT

[2022-07-26 11:26] alanakbik commented on #2446
A new position is available! See #2874!

[2022-07-26 12:34] Ujwal2910 opened #2875 "Automatic mixed precision for TARS model"
Hi can you please add apex=True as a parameter for training TARS also? I have seen it enabled for other models as described here: https://github.com/flairNLP/flair/pull/934#issuecomment-516775884
If such a feature already exists please provide appropriate documentation.

Thanks and regards,
Ujwal.

[2022-07-28 09:22] taghreed34 opened #2876 "Is there a script for FLERT testing on conll?"
A clear and concise description of what you want to know.

[2022-07-29 00:41] fmafelipe opened #2877 "Extract weights from ner model"
Hello, I want to make a model in Spanish, I have seen that there is a ner model of flair in Spanish, I would like to know if it is possible to extract the weights of this model and apply them in a pytorch model on which I will make a fine-tuning.
Thanks.

[2022-07-29 07:57] jv92 commented on #2864
Maybe check label_dictionary when you create the model
Are u using corpus.make_label_dictionary()?

[2022-07-30 10:34] pruthvi-hegde opened #2878 "Is there any document for TransformerDocumentEmbeddings class ?"
My project uses TransformerDocumentEmbeddings to create document embeddings. Is there any documentation that I can refer to understand the internal working of 'TransformerDocumentEmbeddings' class ?
Basically I want to know how 'TransformerDocumentEmbeddings' calculates embedding for a given paragraph.

Thanks in advance!

[2022-07-31 19:12] None-Such opened #2879 "Tagger complains - some input tokens are not in the dictionary (despite add_unk=True) - Still a problem"
As per **#2407** (https://github.com/flairNLP/flair/issues/2407) the Tagger complains that some input tokens are not in the dictionary (despite add_unk=True).

This can easily be recreated by having a tag exist in your Dev or Test set that does NOT exist in your Training set. Which will raise the same error with no indication of what the real problem is.

[2022-08-01 05:02] kalai2033 opened #2880 "Does Named Entity Recognition task uses POS Tagging in the pipeline?"
I would like to perform the NER task for my problem. I would like to know if NER uses POS Tagging knowledge in any way during the process. If not, how to integrate the POS tagging model along with NER for better prediction?

[2022-08-01 05:48] #2648 closed

[2022-08-01 05:48] #2673 closed

[2022-08-01 05:49] #2672 closed

[2022-08-01 05:51] #2652 closed

[2022-08-01 05:51] #2659 closed

[2022-08-01 05:53] #2663 closed

[2022-08-01 05:56] #2666 closed

[2022-08-01 05:57] #2656 closed

[2022-08-01 16:04] silvia-cor opened #2881 "English POS- tags"
Good evening,
I'm trying to use Flair to convert some texts into sequences of POS tags.
In order to do so, partly following the HuggingFace documentation (https://huggingface.co/flair/pos-english), I'm doing the following:

[code]
It seems to work perfectly (I'm using version 0.11.3), but I'm a bit confused on the POS-tags dictionary that the system uses.
On the HuggingFace page, there is a list o

[2022-08-01 16:16] geheim01 commented on #2726
Hello,

How do we handle sentences without relations?
Is there a convenient solution to label the conll format for sentences without relations

Our approach looked like this
`# relations = `

But we received the following error:

[2022-08-02 13:49] alanakbik opened #2882 "Distilbert embeddings error in sentence with trailing whitespace"
`TransformerWordEmbeddings` with `distilbert-base-uncased` cannot embed an empty token if at the end of a sentence:

[code]

This prints:

[code]

I.e. the last token gets no embedding, which causes problems in training routines. Empty whitespaces as tokens unfortunately occur in some corpora, such as WNUT.

[2022-08-02 15:20] geheim01 opened #2883 "Why does the Relation Extraction with own ColumnCorpus achieves bad results?"
Hello,

We want to use Flair to extract relations in sentences. Since we want to use our own German corpus for this, we created it following the comment in #2726 in the ColumnCorpus format. We store the relations in column format as in this example:

[code]

and the code to train it is analogous to the tutorial thus:

[code]

However, we do not understand why our Loss Rate is constantly at 0. And

[2022-08-02 15:37] alanakbik commented on #2883
Hello @geheim01 a few thoughts:

- distilbert-base-uncased is for English only, so you need to use a transformer that can handle German text
- if the learning rate is too high, fine-tuning will learn nothing. Depending on the transformer model you should try out at least 5e-5 and 5e-6
- have you printed the label_dictionary? does it look ok?
- can you share the training log?

[2022-08-02 15:50] geheim01 commented on #2883
- We have already tried bert-base-german-cased instead of distilbert-base-uncased with the same results.

- Label_dictionary looks fine consisting of the relations we have annotated but printing one sentence from `corpus.train[0]` looks kinda strange: `Example Sentence: "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18" → ["1"/Ende, "2"/1932, "3"/war, "4"/sie/Coref_PER, "4 -> 9"/arbeitet_bei, "5"/an,

[2022-08-02 20:00] alanakbik commented on #2883
Yes, the weird sentence printout points to the problem. Try:

`    columns = {1: 'text', 2: 'ner'}`

instead of

`    columns = {0:'id', 1: 'form', 2: 'ner'}`

and see if the sentences print out better. We actually use "text" instead of "form" but I think we should probably add support for calling it "form" as well.

[2022-08-02 21:14] geheim01 commented on #2883
The sentences are now printed properly!

However, the results are still the same as in the training log.

[2022-08-03 18:31] dobbersc commented on #2726
Since the if-check is `if comment.startswith("# relations = "):` you could omit the `relation = ` comment line entirely, for sentences without relations. Note that there is a space after the `=`. To indicate explicitly that this sentence has no relation, you could use `relation =` (no space after the `=`).

[2022-08-04 08:52] alanakbik commented on #2883
Strange, @dobbersc can you take a look?

[2022-08-04 13:48] geheim01 commented on #2726
Thanks a lot!

[2022-08-04 15:09] dardodel opened #2884 "LayoutLM and LayoutLMv2 + Flair?"
Hi,
I saw related topic [here](https://github.com/flairNLP/flair/issues/2465).
I tried to bring pre-trained (as well as fine-tuned) LayoutLMv2 embeddings into Flair but was not successful as expected. I tried to mimic "class BertEmbeddings(TokenEmbeddings)" in legacy.py and I checked the embeddings (last layer hidden states) manually and it looks the embedding of each Token of each Sentence is cor

[2022-08-04 17:25] dobbersc commented on #2883
Hey @geheim01,

1. In your training script, you have used the same values for the `entity_pair_filters` in the `RelationExtractor` as in the example script:

[code]

    These `entity_pair_filters` need to be adjusted to conform with the structure of your relations. In the dataset snipped, you have entity labels, such as `PER`, `ORG`, `Coref_PER` and `Coref_Loc`. The `entity_pair_filters` are a li

[2022-08-04 19:15] fmafelipe opened #2885 "How to fine tune flair/ner-spanish-large"
Hello, I am working on a NER model in Spanish, I want to fine tune the  [(flair/ner-spanish-large)](https://huggingface.co/flair/ner-spanish-large) model that is already trained to add certain tags to words that this model does not recognize yet. How can I do this ? Thanks.

[2022-08-04 22:50] fmafelipe opened #2886 "Error resuming training of a NER model"
I want to resume training a NER model as shown in the tutorials, loading the model checkpoint but running it with :

`trainer.resume(trained_model,
               base_path=path + '-resume',
               max_epochs=25,
               )`

It simply shows me the metrics of the loaded model and does not perform any training.

[2022-08-05 05:33] ksksho commented on #2826
You can use BIO and BIOES in flair-0.11.x.
When you want to use BIO, you have to use correct BIO, namely, "O", "B-label", "I-label".
If you use another labels like "-X-", flair throw the above error.

[2022-08-05 18:49] shashank140195 opened #2887 "issue loading MultiTagger (unpickling error)"
I am using Hunflair and having below error while running it: Can anyone suggest me the next step?

Traceback (most recent call last):
  File "hunflair.py", line 35, in <module>
    hunflair = MultiTagger.load("hunflair")
  File "/home/sgu260/.local/lib/python3.8/site-packages/flair/models/sequence_tagger_model.py", line 1079, in load
    model = SequenceTagger.load(model_name)
  File "/home/sgu260

[2022-08-06 12:50] tbachlechner opened #2890 "Loading a model creates warning; its annoying."
In version `flair == 0.11.3` and `huggingface_hub == 0.8.1` loading a HuggingFace model creates a warning. To reproduce:
[code]
This is because `flair.models.sequence_tagger_model` caches models using `from huggingface_hub import hf_hub_download, hf_hub_url`. This is not recommended as of `huggingface_hub == 0.8.1`, see https://github.com/huggingface/huggingface_hub/releases. Warning is annoying.

[2022-08-06 14:21] helpmefindaname commented on #2890
Hi @tbachlechner, have you checked it that warning still comes on the main branch? afaik this is already fixed but not released

[2022-08-06 14:53] tbachlechner commented on #2890
@helpmefindaname I see PR #2842 that was closed and is not on master. What's the "main" branch? Is there a separate branch that goes to releases? I do see that PR is identical to mine :)

[2022-08-06 16:03] helpmefindaname commented on #2890
sorry I meant the master branch.
the PR you mentioned was closed, because https://github.com/flairNLP/flair/pull/2837 got merged.
can you try out the master and see if the problem still occours?

[2022-08-06 16:25] tbachlechner commented on #2890
oh yeah all good, master is identical to my PR :D sorry about that. can't wait for that release

[2022-08-06 16:25] #2890 closed

[2022-08-07 10:49] taghreed34 opened #2894 "Conll_03 Corpus"
When I try to create an instance of Conll_03 corpus the following error shows up:

No such file or directory: '/root/.flair/datasets/conll_03'

[2022-08-07 11:29] #2894 closed

[2022-08-07 16:05] helpmefindaname commented on #2886
hi @fmafelipe ,
setting `max_epochs=25` means that the model will be trained for a total of 25 epochs, not for additional 25 epochs.
if you have already trained the model for 25 epochs, then the model will be trained for 0 epochs (e.g. not at all).

[2022-08-07 19:52] Madhu000 commented on #1661
I am facing the same issue for mt5-small one.. Can anyone fix this if yes please your guidance is always welcome.. Thanks in advance.

[2022-08-08 10:57] stefan-it commented on #1661
Hi @ataniz and @Madhu000 ,

sorry for the late reply!  I pushed a working version of encoder-only fine-tuning T5 models:

https://github.com/flairNLP/flair/pull/2896

Feel free to test it :hugs:

[2022-08-08 19:14] Madhu000 commented on #1661
Hi @stefan-it
Thanks for the solution.. But it is not working for t5-v1_1-base for my dataset. same error is occurring.

[2022-08-08 20:38] Madhu000 commented on #1661
When I am testing with this branch the same error is occurring.. Please
help me out. Thanks in advance. Please find the following log

2022-08-08 20:25:36,116
----------------------------------------------------------------------------------------------------
2022-08-08 20:25:36,117 Corpus: "MultiCorpus: 644 train + 92 dev + 186 test
sentences - ColumnCorpus Corpus: 644 train + 92 dev + 186 test s

[2022-08-08 20:47] stefan-it commented on #1661
Hi @Madhu000 ,

it seems that Flair in your virtual environment uses the installed *0.11* version (this can be seen in the logs, because `flair/embeddings/base.py` do not have a line 692 in [latest master](https://github.com/flairNLP/flair/blob/master/flair/embeddings/base.py) due to a recent refactoring). Here's a short snippet of how to use the T5 encoder fix branch:

[code]

Then you can try us

[2022-08-08 20:50] Madhu000 commented on #1661
Thanks, I'll check it out.

On Tue, Aug 9, 2022 at 2:17 AM Stefan Schweter ***@***.***>
wrote:

[2022-08-08 21:00] Madhu000 commented on #1661
Can please tell me how to apply t5 NER for a custom dataset. Bcz I am not
able to pass the defined corpus of flair as dataset name argument in
python3 run_ner.py command . Thanks in advance.

[2022-08-08 21:37] Madhu000 commented on #1661
when trying to run this run_ner.py this error is coming please find the
below traceback.. Please help me out. Thanks in advance.

2022-08-08 21:34:58,489
----------------------------------------------------------------------------------------------------
2022-08-08 21:34:58,490 Corpus: "MultiCorpus: 644 train + 92 dev + 186 test
sentences - ColumnCorpus Corpus: 644 train + 92 dev + 186 test senten

[2022-08-09 06:10] pruthvi-hegde commented on #2867
Thank you @whoisjones

Is there any documentation that I can refer to understand the internal working of 'TransformerDocumentEmbeddings' class ?
Basically I want to know how 'TransformerDocumentEmbeddings' calculates embedding for a given paragraph.

Thanks in advance!

[2022-08-09 10:17] taghreed34 opened #2898 "trainer.resume with finetuning"
Is trainer.resume() valid when finetuning is interrupted or it's just used with training? And if so, is using adam optimizer handled so momentum and scale vector aren't initialized from scratch?

[2022-08-09 10:27] geheim01 commented on #2883
Hey @dobbersc ,

Unfortunately also the adjustment of the entity_pair_filters to all possible combinations did not improve the situation and the loss remains at 0 as before from the beginning. That's why I have sent you our training script and dataset file via email

[2022-08-09 17:12] helpmefindaname commented on #2640
*ping* to reveive issue as it isn't dead

[2022-08-09 17:58] geheim01 commented on #2883
Ok Update: Now that I have once renamed all NER tags in our conll file from, for example, PER's to I-PER's/LOC to I-LOC, I am now not directly getting Loss values of 0 when training the relation extraction model.

[2022-08-10 08:03] pli29-ctrip opened #2899 "ValueError: Connection error, and we cannot find the requested files in the cached path. Please try again or make sure your Internet connection is on."
**Describe the bug**
`from hyperopt import hp
from flair.hyperparameter.param_selection import SearchSpace, Parameter

search_space = SearchSpace()

# define training hyperparameters
search_space.add(Parameter.EMBEDDINGS, hp.choice, options=[document_embeddings])
search_space.add(Parameter.LEARNING_RATE, hp.choice, options=[0.01, 0.05, 0.1, 0.15, 0.2])
search_space.add(Parameter.MINI_BATCH_SIZE, h

[2022-08-10 08:35] dobbersc commented on #2883
Good catch! In Flair, we use the BIO or BIOES annotation format for spans. For an example see this [comment](https://github.com/flairNLP/flair/issues/2749#issuecomment-1120275676). So

[code]

should actually be

[code]

I hope you succeed in training your model, now :).

[2022-08-10 10:44] Madhu000 commented on #1661
Hi @stefan-it ,

Please give me a point at least so that I can fix it asap. I am facing this
issue whenever I am trying to load the trained t5 model using the
Sequentagger module of Flair. Thanks in advance.

TypeError                                 Traceback (most recent call last)
[<ipython-input-12-5f44121d8b42>](https://localhost:8080/#) in <module>()
      1 # load the model you trained
----

[2022-08-10 13:06] PanosBn commented on #2801
Hi, I have the same problem when trying to finetune a dutch RoBERTa model (https://huggingface.co/pdelobelle/robbert-v2-dutch-base) for NER. Using a custom tokenizer and setting a max_length doesn't seem to help.

[2022-08-10 22:51] fmafelipe commented on #2886
Hi @helpmefindaname
So following this example, if I want to train the model for an additional 25 epochs, do I need to set `max_epochs=50` ?
Thanks for the help

[2022-08-10 22:56] helpmefindaname commented on #2886
assuming that you trained for 25 epochs, yes.

If you are using the latest master branch, (where https://github.com/flairNLP/flair/pull/2895 is merged) you can also use `additional_epochs=25` instead.

[2022-08-10 22:59] fmafelipe commented on #2886
Thank you so much 👍👌

[2022-08-11 06:23] sujaymad opened #2900 "not able to use glove embeddings in the sequence tagger after the last pr"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (e.g. which model did you train? what parameters did you use? etc.).

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the followi

[2022-08-11 22:29] pleonova opened #2901 "Missing import in tutorial 5"
In this tutorial: [Tutorial 5: Document Embeddings](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_5_DOCUMENT_EMBEDDINGS.md#tutorial-5-document-embeddings), the following is missing
`from flair.data import Sentence`

[2022-08-12 20:00] aniketmaurya commented on #2707
closing this since CI is already running with 3.7

[2022-08-12 20:00] #2707 closed

[2022-08-14 07:31] BrambleXu opened #2903 "token.get_label return wrong tags"
**Describe the bug**
`token.get_label` return wrong tags

**To Reproduce**
First we have a corpus to read, the training data `train_datapool_sample.txt` is like below.
[code]

Read the dataset.
[code]

Then we use `token.get_label()` to get each label.

[code]

**Expected behavior**

According to the dataset, 'Germany' and 'Britain' should like below.

[code]

**Environment (please complete the fo

[2022-08-16 07:07] mansi2606 opened #2906 "Using multiple GPUs during flair to avoid OOM"
I have a GPU instance with 8 GPUs. I want to use the GPUs combined since using one cuda device is giving me constant cuda OOM error. The training seems to happen only on a single cuda device. Is there any way to use these multiple devices??

[2022-08-16 11:57] geheim01 opened #2907 "Is there a confusion matrix in flair for evaluating relation extraction models?"
We are currently evaluating our relation extraction model.
We achieve an accuracy of 28% with 47 relation classes that we use, many of which are not really selective.

Now, in order to determine which relations might be better merged, we would like to output a confusion matrix. Unfortunately, I could not find a way in Flair Training to do this.

Is there a method that can do this that I just haven

[2022-08-16 20:45] None-Such opened #2908 "Strategies for undoing spacing injected by Flair into Named Entities . . ?"
When doing sequence tagging for Named Entities, Flair is injecting spaces around punctuation inside the Span itself (which I suspect this is due to the tokenization being applied).  It would be desirable to optionally revert to the original spacing for the entity in the span itself. OR if that is not possible to do in Flair itself, it would be helpful to have a clear simple suggested strategy for

[2022-08-16 21:24] #2901 closed

[2022-08-17 04:36] vinay1986 opened #2909 "Few Shot multi-label classifier"
Is there an updated version of few shot multi-label classifier (trained on tars-base)?

Was referring to the article below (however did not get the desired results):

[https://towardsdatascience.com/zero-and-few-shot-learning-c08e145dc4ed](https://towardsdatascience.com/zero-and-few-shot-learning-c08e145dc4ed)

Modified the code as below:
`from flair.datasets import FlairDatapointDataset
from flai

[2022-08-17 10:54] despallier commented on #2557
I also get the error : AttributeError: module 'flair' has no attribute 'nn' when I try to import SequenceTagger from flair.models.
Python 3.10.4, Flair 0.11.3

As I had problems installing flair , I installed it '- pip install flair --no-deps' and then installed all other packages
- pip install : torch , transformers, deprecated, segtok, ftfy, conlu, gdown, gensim, bpemb, pptree

[2022-08-17 19:50] None-Such opened #2912 "Spacing injected by Flair into Named Entities skewing reported metrics"
When doing sequence tagging for Named Entities, Flair is injecting spaces around punctuation inside the Span itself (which I suspect this is due to the tokenization being applied). I previously reported this as a question (https://github.com/flairNLP/flair/issues/2908), but have since learned it is also skewing reported metrics as it causes a string comparison of the Entity to NOT match, and thus

[2022-08-17 21:06] #2907 closed

[2022-08-18 12:03] pli29-ctrip opened #2913 "How to force use GPU when using searchspace to optimise a model"
A clear and concise description of what you want to know.
embeddings_storage_mode of mine is always cpu when using searchspace to optimise

[2022-08-22 08:18] pratikchhapolika opened #2914 "Regarding flair/ner-english-ontonotes model fine tuning"
I thought of `Fine-Tuning` the model `flair/ner-english-ontonotes` here `https://huggingface.co/flair/ner-english-ontonotes`.

I couldn't find the following files in `Files and Verions` https://huggingface.co/flair/ner-english-ontonotes/tree/main

- tokenizer_config.josn
- config.json
- some more tokens related files

In all the Hugging face models, we have these files.

**Am I missing something?*

[2022-08-22 21:37] helpmefindaname commented on #2914
I think you are missing, that Flair creates Flair-models and not hugging face models. You can see how to use them by clicking on the `</> Use in Flair` button.

To finetune models, you can select the fitting [Tutorial](https://github.com/flairNLP/flair#tutorials)

[2022-08-23 02:30] pjsimba16 opened #2916 "SequenceTagger.predict() got an unexpected keyword argument 'all_tag_prob'"
I'm trying to get the probability distributions for each token when predicting using my own fine-tuned NER model but setting all_tag_prob=True in .predict() outputs this: TypeError: SequenceTagger.predict() got an unexpected keyword argument 'all_tag_prob'. I'm currently using the latest version of flair (0.11.3), am I doing something wrong?

[2022-08-23 03:02] pjsimba16 commented on #2916
Found a way to display the full probability distribution using MultiTagger instead of SequenceTagger.

`for token in sentence:
    prob_dist = token.tags_proba_dist
    new_prob_dist = []
    for i in prob_dist['ner']:
        new_prob_dist.append([i.value, i.score])
    print(token, new_prob_dist)`

[2022-08-23 03:02] #2916 closed

[2022-08-23 04:07] pli29-ctrip opened #2917 "Can we ajust output model type from .pt to .onnx?"
Can we ajust output model type from .pt to .onnx?

[2022-08-23 05:06] pratikchhapolika commented on #2914
Thank you for your response. I will definitely try to fine-tune using this tutorial. If I get stuck, I will ping for help. Meanwhile, can I keep this open?

[2022-08-23 11:27] ganga7445 commented on #2601
I know tagger.predict(batch_sentences) is causing the problem because of multiple processors.
how to pass use_fast = False in flair code?

[2022-08-23 11:28] ganga7445 commented on #2258
I know tagger.predict(batch_sentences) is causing the problem because of multiple processors.
how to pass use_fast = False in flair code?

[2022-08-24 06:25] divyanshugit opened #2918 "WordEmbeddings for Hinidi"
**Is your feature/enhancement request related to a problem? Please describe.**

Feature: Add `hi-crawl-fasttext-300d-1M` word embeddings to `WordEmbeddings()`
I wanted a pos tagger for Hindi. So, using the reference mentioned in [Tutorial-07](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_7_TRAINING_A_MODEL.md). I've fine-tuned Sequence tagger for Hindi.

**Describe the solu

[2022-08-24 11:46] louis030195 opened #2919 "[Feature/Enhancement] Pulling private HuggingFace embedding models"
**Is your feature/enhancement request related to a problem? Please describe.**

Assuming `Foo-org/bar-model`exists privately, and I have a local token stored letting me access to it.

[code]

If this is a private repository, make sure to pass a token having permission to this repo with `use_auth_token` or log in with `huggingface-cli login` and pass `use_auth_token=True`.

**Describe the solution

[2022-08-25 04:05] grinay opened #2920 "Better results on small amount of exmples"
Hello. Thanks for you effort  working on flair framework, I achieved the best and fast results with it compare to others. It's amazing.
I have a question which I can't understand yet.
I did a search parameter run over my train/dev/test data.
And found the best performed embedding stack and parameters for my task.
StackedEmbeddings([WordEmbeddings('crawl'),CharacterEmbeddings(),FlairEmbeddings('new

[2022-08-25 04:11] grinay commented on #2907
@geheim01  did you found answer to your question?

[2022-08-25 04:16] grinay commented on #2826
For those who faces the same issue here is the fixed version of jsonl corpus.
https://gist.github.com/grinay/c6ace94383b55970f175ae4d1afbe010
@Lingepumpe  do you think it is a correct fix?
There is two lines fixed:
[code]

[code]

[2022-08-26 09:45] Flowhill opened #2921 "Are there docs on the flair code?"
When trying to resolve any problems I run into when using flair I often have to refer to previous issues or going through the code manually to find out what different classes and functionalities of flair are. Only sometimes the tutorials are useful for specific problems.
Does flair have documentation that can be consulted?

[2022-08-29 09:47] #2703 closed

[2022-08-29 13:34] grinay commented on #2921
Same question, only reading the sources can find the answer.

[2022-08-29 21:22] snowneji opened #2923 "Best practice to update TARS classification model"
**[Context]** I initially trained a TARS model for text classification. But soon I received a new batch of data contains the new labels that the initial model doesn't have.  I found I cannot just keep training the model because it will throw me an `KeyError` that the new label doesn't exist in the corpus. I've been leaning towards creating a new task for the new batch of training data but I'm afra

[2022-08-30 05:53] pratikchhapolika commented on #1540
@igormis could you attach your notebook and data?

[2022-08-30 07:55] alanakbik commented on #2923
Hello @snowneji good question - your options are:

1. create a new task only for the new batch. In this case you need not retrain the full model, and this is how TARS is intended to be used: learn new labels with few examples.
2. either train a new TARS model from scratch or create a new task for the old+new data. You could use this option if the new batch also contains the old labels. The new tas

[2022-08-30 08:06] alanakbik commented on #2918
Hello @divyanshugit - I believe Hindi embeddings already work. Try:

[code]

[2022-08-30 08:15] alanakbik commented on #2920
Hello @grinay it's a bit difficult to answer, but it sounds like overfitting. Perhaps the `CharacterEmbeddings` learn very specific patterns that only exist in your training data. You could try:
1.  leaving the `CharacterEmbeddings` out to check if something similar happens.
2. reducing the RNN size to give the model less capacity

But this is only a guess: If you share a sample of the data, or th

[2022-08-30 08:54] alanakbik commented on #2876
@taghreed34 could you provide more information on what you are looking for?

[2022-08-30 10:15] Flowhill opened #2924 "How can I assure the best model is saved?"
I'm confused by the parameters given in https://github.com/flairNLP/flair/blob/493b61fc07f83d412928301571b0e3abe780348f/flair/trainers/trainer.py#L74
and the conditions shown in https://github.com/flairNLP/flair/blob/493b61fc07f83d412928301571b0e3abe780348f/flair/trainers/trainer.py#L796
`               if (
                    (not train_with_dev or anneal_with_restarts or anneal_with_prestarts)

[2022-08-30 10:51] alanakbik commented on #2924
@Flowhill try setting `use_final_model_for_eval=False`. The default setting of `fine_tune` currently uses the final model for evaluation, though this should likely be changed.

[2022-08-30 11:38] Flowhill commented on #2924
That should do the trick. Thank you.
I'll update if it worked.

[2022-08-30 12:10] brianferrell787 opened #2925 "Flair Question - Transformer Document Embeddings"
I know you can do something like this:
[code]

Which pulls whatever model from the HuggingFace Library. Can the part that says "roberta-base" be from a local file as well? The company I work for, their firewall does not allow us to do that and we have to download files manually from HuggingFace website. And I really wanted to use this functionality for a NLP project. Maybe if not, you know of a wo

[2022-08-30 14:34] alanakbik commented on #2907
@geheim01 we have a new relation extractor that should give better accuracy on this branch if you like to test it: https://github.com/flairNLP/flair/pull/2748

[2022-08-30 15:06] Flowhill opened #2926 "Metric used by ModelTrainer.train() 'patience' argument"
In this issue [#864](https://github.com/flairNLP/flair/issues/864) it becomes clear that flair uses an Early Stopping mechanism by default.
That Early Stopping mechanism seems to be determined by the parameter 'main_evaluation_metric':
https://github.com/flairNLP/flair/blob/493b61fc07f83d412928301571b0e3abe780348f/flair/trainers/trainer.py#L163
The mechanism lowers the learning rate when the chose

[2022-08-30 16:00] lukasgarbas commented on #2925
Yes, you can load a model from your local directory as well. I am doing it as follows:

[code]

[code]

Let me know if this works for you!

[2022-08-30 16:27] snowneji commented on #2923
Thanks, the question is solved.

[2022-08-30 16:27] #2923 closed

[2022-08-31 00:20] brianferrell787 commented on #2925
Works!

[2022-08-31 08:05] alanakbik commented on #2926
Hello @Flowhill, the `patience` decides how many "bad epochs" (of no improvement) it waits before annealing the learning rate. By default it anneals against the main_evaluation_metric determined on the dev data. Only if there is no dev data (for instance if you set `train_with_dev=True`) it will anneal against training loss.

[2022-08-31 08:36] zynos commented on #2826
The fix from @grinay helped! Hope the fix will be merged soon.

[2022-08-31 08:39] alanakbik commented on #2826
The JSONCorpus should already be fixed in master branch, see https://github.com/flairNLP/flair/pull/2863

[2022-08-31 08:51] alanakbik opened #2928 "Unify loss reduction across models"
The loss reduction is currently not uniform, with some models doing a "mean" over all data points in a Sentence, while others do a "sum". This issue tracks the process of unifying the loss reduction across all models.

[2022-08-31 08:55] alanakbik commented on #2917
As of this PR it should be possible to export models into ONNX: https://github.com/flairNLP/flair/pull/2643 - you can already test this on master branch.

[2022-08-31 09:19] Flowhill commented on #2926
Thnks @alanakbik 100% clear.

[2022-08-31 09:19] #2926 closed

[2022-08-31 18:29] Akarsh1 opened #2929 "Change in representation of to_tagged_string() function in flair NER Task"
The sample code for the NER is as follows:

model = SequenceTagger.load('ner-large')
s = Sentence("RTI response reveals 18 lakh ration card application pending UP 56 8 request rejected India News Firstpost")
model.predict(s)
print(s.to_tagged_string())

**Actual Output(Now):**
 Sentence: "RTI response reveals 18 lakh ration card application pending UP 56 8 request rejected India News Firstpost" →

[2022-09-01 10:07] kobiche opened #2930 "RuntimeError while saving embedding model in ONNX format"
**Describe the bug**
The model cannot be saved in ONNX format as shown in the flair/resources/docs/TUTORIAL_13_TRANSFORMERS_PRODUCTION.md tutorial. The export raises the following error:
`RuntimeError: Dynamic shape axis should be no more than the shape dimension for sequ_length`

**To Reproduce**
[code]

**Expected behavior**
Model saved in ONNX format

**Environment (please complete the followin

[2022-09-01 13:53] Dashulkin commented on #2874
@alanakbik Dear Alan,
thank you for posting this news. Is there a place available?

[2022-09-03 21:04] #2928 closed

[2022-09-05 13:39] #2924 closed

[2022-09-05 13:47] Flowhill opened #2934 "Flair + Huggingface: finetuning classifier or whole model?"
I am unsure as to what weights are updated when training the following pipeline:
As a TransformerDocumentEmbeddings I use a huggingface model such as 'xlm-roberta-base'.
A CSVClassificationCorpus is used with local files as a dataset and a label dictionary is created from it.
A TextClassifier is added with the 'xlm-roberta-base' "embeddings model".
Finally, a ModelTrainer is given the corpus and t

[2022-09-06 05:48] Carlee003 commented on #2894
Hi, have you resolved this problem?

[2022-09-06 14:19] Madhu000 opened #2935 "Error while loading a Flair model"
I am getting this error when loading a trained model by SequenceTagger.load() function:

TypeError: __init__() got an unexpected keyword argument 'force_max_length'

![error](https://user-images.githubusercontent.com/42236983/188659328-b7bc5a8e-dd29-42fc-b2d5-e2208c68ab60.jpg)

[2022-09-06 14:43] #2935 closed

[2022-09-06 17:38] #2625 closed

[2022-09-07 08:05] imliuruiqi commented on #1941
Hi have you solved this problem? I  have the same problem and envirment :

- torch                        1.12.0+cu116
- flair                        0.11.3

[2022-09-07 12:02] dx111ge opened #2936 "Use gpu / Cuda"
I would like to use GPU for the training.
windows 11:
C:\WINDOWS\system32>```
nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2022 NVIDIA Corporation
Built on Wed_Jun__8_16:59:34_Pacific_Daylight_Time_2022
Cuda compilation tools, release 11.7, V11.7.99
Build cuda_11.7.r11.7/compiler.31442593_0
[code]

[2022-09-07 14:48] #2849 closed

[2022-09-07 20:49] Akshaysehgal2005 commented on #2853
Still facing this bug. flair-0.11.3

[2022-09-08 03:49] #2936 closed

[2022-09-08 04:43] nlproc-007 commented on #2795
tars-base model is not multilingual. tars-base model is BERT model fine-tuned on 9 text classification English datasets under binary classification settings. You can refer this link https://nlp.informatik.hu-berlin.de/resources/models/tars-base/ for more details. @rafaeloliveirabd

[2022-09-08 04:50] nlproc-007 opened #2937 "Unable to get predictions for multiple sentences using TARS Zero Shot Classifier"
Here is the example code to use TARS Zero Shot Classifier
[code]
Now this code is wrapped into the following function so that I can use it to get predictions for multiple sentences in a dataset.
[code]
Here I'm able to get the prediction only for the first sentence. Can someone tell me how to use TARS Zero Shot Classifier to get predictions for multiple sentences in a dataset? @alanakbik  @lukasga

[2022-09-09 00:50] nlproc-007 commented on #2937
Can you please look at this problem? @tadejmagajna

[2022-09-09 02:02] #2713 closed

[2022-09-09 02:02] #2701 closed

[2022-09-09 02:02] #2706 closed

[2022-09-09 02:02] #2709 closed

[2022-09-09 02:02] #2717 closed

[2022-09-09 02:02] #2720 closed

[2022-09-09 02:02] #2644 closed

[2022-09-09 02:02] #2682 closed

[2022-09-09 02:02] #2683 closed

[2022-09-09 02:02] #2685 closed

[2022-09-09 02:02] #2686 closed

[2022-09-09 02:02] #2689 closed

[2022-09-09 02:02] #2626 closed

[2022-09-09 02:02] #2690 closed

[2022-09-09 02:02] #2540 closed

[2022-09-09 02:02] #2697 closed

[2022-09-09 02:02] #2630 closed

[2022-09-11 03:02] ModeEric opened #2938 "All predictions are <unk>"
I'm running the code from https://medium.com/thecyphy/training-custom-ner-model-using-flair-df1f9ea9c762 for NER on a custom dataset, and I find that no matter how I change the learning rate, every prediction is unk, and the f1-score is 0.0 on every epoch. I'm thinking there must be something wrong with the formatting of my dataset. Here is what my train set would look like, where I replace my act

[2022-09-11 14:38] dvag-ehssan-doust commented on #2640
@helpmefindaname Were you able to finish this? I did an export of the german flair model to a single ONNX ~2 years ago but need the english version too, did you make any further progress in this matter?

[2022-09-11 14:38] edoust commented on #2640
@helpmefindaname Were you able to finish this? I did an export of the german flair model to a single ONNX ~2 years ago but need the english version too, did you make any further progress in this matter?

[2022-09-11 22:46] edoust commented on #2640
I created a script for ONNX export for the de-pos model, it is running just fine on the onnxruntime on .NET. Will test if I can also get an export for Core ML to work, in case anyone needs it you can find it here: https://github.com/edoust/flair/commits/master

[2022-09-12 10:18] alanakbik commented on #2938
@lukasgarbas can you check and help him?

[2022-09-13 05:50] aniketmaurya commented on #2697
lets keep it open

[2022-09-13 17:05] edoust commented on #2640
I created single file ONNX models from `de-pos`, `flair/upos-multi`, `flair/upos-multi-fast` that work with variable batch and sentence sizes.

Basically it first computes the forward and backward embeddings, selects the right embedding tensors from the total embeddings using the `forwardIndices` and `backwardIndices`. Then it concatenates the selected tensors, and "stripes" them into the final `s

[2022-09-14 17:43] helpmefindaname commented on #2640
Hi @edoust ,
sorry for the late answer

I think it will take a long time to finish this. So far the models can be exported without embeddings and the transformer embeddings themselves can be exported. The way I want to integrate the onnx export should be, that you can use `torch.onnx.export` and can use the exported model within the flair library. For this there are quite some architectural change

[2022-09-16 08:18] edoust commented on #2640
Hi @helpmefindaname

thanks for the reply, you are right `striping` is not necessary, thanks for that :)

Regarding the ONNX export, I think it would be great to have the possibility to create single file ONNX model exports from various Flair models (combining embeddings and tagging model), otherwise it is a very high effort to include such a Flair model in any app. Having such an option would mak

[2022-09-16 10:47] dchaplinsky opened #2939 "Bigger mini_batch_size, any impact on the trainer performance?"
Hello!
I'm training yet another flair embeddings model on my 2060. The dataset is around 20GB, split into the files of 1m lines (1 line = 1 sentence) for the train directory. All the sentences are filtered by the sentence length (ie. there are no long sentences in the dataset).

I've successfully started the training with the following params:
[code]
For an obvious reason, it takes quite a lot of

[2022-09-16 16:32] rxjx opened #2940 "Tokenizer inserting spaces"
Spaces seem to get added when converting strings into Sentences.

[code]

Expected:
[Sentence: "X only has $7k USD, can't buy any GOOGL",
 Sentence: "MSFT + 6% after market again on strong cloud",
 Sentence: "I'm expecting a jump in GOOGL"]

Got:
[Sentence: "X only has $ 7k USD , ca n't buy any GOOGL",
 Sentence: "MSFT + 6 % after market again on strong cloud",
 Sentence: "I 'm expecting a jump in

[2022-09-17 05:49] dchaplinsky commented on #2939
@alanakbik could you please elaborate before I'll launch the week of training?

[2022-09-17 14:48] NiteshMethani opened #2941 "How to use FastText embeddings pre-trained on custom corpus"
Hi,

I have pre-trained FastText embeddings on my custom corpus. So I now have .bin and .txt file corresponding to fasttext model and pre-trained vectors.

Any suggestions on how should I use these custom embeddings for training a NER model?

Thanks in advance!
Nitesh

[2022-09-17 15:43] NiteshMethani opened #2942 "Doubts around NER"
Hi,

I have pre-trained FastText as well as bert-base-uncased on custom corpus.
How can I use it for NER training?

Specifically, is something like this possible in flair:
[code]

Furthermore,
When we use this as embedder, what happens behind the scenes?
[code]
- Is it simply taking the token embeddings from 'xlm-roberta-large' and puts a linear layer for NER on top of it?
- Where exactly FLERT's

[2022-09-18 17:01] helpmefindaname commented on #2940
Hi @rxjx
Notice there are multiple ways to get the text of a sentence:
[code]

when you just use `str(sent)` it returns `self.to_tagged_string()`.
When you read the data from a ColumnCorpus, you have split the sentence in tokens by yourself. If you use `Sentence(text)` you will use the `SegtokTokenizer()`. You can provide tokens instead of text to the sentence to have it use the tokenization you e

[2022-09-19 14:41] nlproc-007 commented on #2937
Can you please look at this? @helpmefindaname

[2022-09-19 18:34] DGaffney opened #2943 "Fine tuning `sentence-transformers/all-MiniLM-L6-v2`"
Hello! I'm looking to find out what the training code would look like to fine-tune `sentence-transformers/all-MiniLM-L6-v2`. Right now, I have the following for generating embeddings for the fine-tune procedure:

[code]

This is based off my read of https://github.com/flairNLP/flair/blob/cebd2b1c81be4507f62e967f8a2e7701e332dbd3/resources/docs/TUTORIAL_9_TRAINING_LM_EMBEDDINGS.md which does not inc

[2022-09-19 20:21] marcmaxson commented on #2785
This should be in examples. I am comparing your package with huggingface PT NER models and all of them have a "from_pretrained" and "save_pretrained" method in their auto-docs.

[2022-09-20 08:54] isaac47 opened #2944 "Is it possible to combine two transform Embedding for text classification"
A clear and concise description of what you want to know.
Hello,
I am using TransformerDocumentEmbeddings to embed my text data before passing it into text classification and it work well. but I need also to use it in other to extract embedding (document and word) to build a keywords extraction.

It is possible to combine both TransformerDocumentEmbeddings and TransformerWordsEmbeddings in fine tu

[2022-09-20 09:37] Flowhill commented on #2934
Update:
When finetuning the code outputs the whole model structure e.g.
[code]

It leaves the question whether the weights of the model (XLMRoberta) are automatically frozen and only the Linear decoder is trained.

[2022-09-20 16:05] #2940 closed

[2022-09-21 02:42] tungnt55 opened #2945 "Why are there so many labels in the Ontonotes dictionary?"
I tried running the 'ner-ontonotes' model and it print out a list of 76 labels (tags) in the beginning. Why are there so many of them when the description says there is 18 labels in this dataset? What's the difference between B-ORG and S-ORG tags?

[2022-09-21 11:11] lukasgarbas commented on #2934
You can control this by setting fine_tune parameter to true/false in ```TransformerDocumentEmbeddings(fine_tune=True)```. By default, fine-tuning is set to true, which means that the transformer weights and the text classifier (a single linear layer as the decoder) will be adjusted. You can also train just the classifier by setting fine-tuning to false. However, this might need a different learnin

[2022-09-21 13:32] lukasgarbas commented on #2942
I'll try to answer your bullet points on transformers and NER:

- Yes, when fine-tuning a transformer, a linear layer is added on top. This happens in the SequenceTagger class and not in TransformerWordEmbeddings. To fine-tune your transformer and a tagger, disable RNN and CRF, which leaves only a linear layer ([docs on how to tune a transformer](https://github.com/flairNLP/flair/blob/master/resou

[2022-09-21 21:11] KINJALMARU16 opened #2946 "getting "Runtime Error: Expected all tensors to be on the same device, but found at least two devices, cpu and cuda:0! ""
Hi,
I have trained a custom Sequence2Serquence model for NER on CPU. and When I am using the model on inference data I a getting below error.
However, for the inference , I am using GPU environment.
Do you know how to train a Flair NER model which can be used in both CPU & GPU ?

![image](https://user-images.githubusercontent.com/17974502/191610980-a367722b-f0ab-4b29-9d6a-dd6939618e91.png)

[2022-09-22 07:10] mehadi92 opened #2947 "Support for wandb training tracking?"
Does flair support `wandb` experiment tracking?

[2022-09-23 15:46] alanakbik commented on #2874
@Dashulkin the deadline has already passed, sorry! But more positions will be posted next year!

[2022-09-23 15:46] #2874 closed

[2022-09-23 17:57] boegel commented on #2754
@alanakbik Yes, if there's a release on PyPI, there should be a corresponding tag in GitHub too, ideally...

[2022-09-25 22:44] Nintorac opened #2948 "Not possible to reproduce the input text"
**Describe the bug**
The sentence object cannot reliably reproduce the input text

**To Reproduce**
[code]

**Expected behavior**
I expected `to_original_text` to return the original text

[2022-09-26 20:00] dwang888 commented on #1249
when "TARSClassifier.load("tars-base")", it will have error:
ConnectionError: HTTPSConnectionPool(host='nlp.informatik.hu-berlin.de', port=443): Max retries exceeded with url: /resources/models/tars-base/tars-base-v8.pt (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f3e02bb78e0>: Failed to establish a new connection: [Errno 110] Connection timed out'))
Please do ad

[2022-09-27 04:58] NiteshMethani commented on #2942
Thank you so much for the detailed response. It clears my doubts.
I will try to replicate the results on conll2003 dataset and share for future references.

[2022-09-27 16:36] shahafp opened #2949 "Why does the Relation Extraction with own ColumnCorpus is not find relation label"
Hello,

We want to use Flair to extract relation extraction in sentences Since we want the domain data we would like to use ColumnCorpus
We created it following comment #2726 in the ColumnsCorpus format. Example of our data:

[code]

and the code to train and load the corpus:
[code]

This is the error I get

![image](https://user-images.githubusercontent.com/42303078/192584438-6eefd6e1-909c-4237-8

[2022-09-28 20:20] #2949 closed

[2022-09-29 05:28] ksachdeva11 commented on #2626
Hello @helpmefindaname @pg020196 , could you please mention the load and save steps which need to be followed once the model is downloaded?

[2022-09-29 07:43] pg020196 commented on #2626
Hi @ksachdeva11,

to save the model you can simply use the `.save()` function on the model instance. Looking at the example [here](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_7_TRAINING_A_MODEL.md#training-a-named-entity-recognition-ner-model-with-flair-embeddings), you can simply call `tagger.save(filepath).`

Loading a model is shown [here](https://github.com/flairNLP/f

[2022-09-29 08:27] pg020196 commented on #2626
Hi @ksachdeva11,
when loading or saving the model locally, I think you have to specify path to the file and not to the directory, e. g.
`tagger.save('path/to/directory/tagger_model.pt')`
`tagger = SequenceTagger.load('path/to/directory/tagger_model.pt')`

When loading the model with `SequenceTagger.load("flair/ner-english-ontonotes-large")` the string value is used as an identifier for the model o

[2022-09-29 09:20] ksachdeva11 commented on #2626
thanks @pg020196 ... getting this error now while saving the model..

[code]

[2022-09-29 12:26] pg020196 commented on #2626
@ksachdeva11 sorry, unfortunately I can't help you with this issue. Did you make sure that the model was fully and correctly loaded, meaning that you can make predictions? If not, I would recommend to check out the examples, they are really useful. Otherwise the only thing I can point out is that I tried all of the above steps with python 3.9, torch 1.11.0 and flair 0.11. Maybe there are some depe

[2022-09-29 14:07] Taghreed7878 opened #2950 "NER Finetuning"
While I'm finetuning (on colab pro)sequence tagger with a dataset consists of conll and another one combined together in conll format, with a number of tags =  14, the following memory issue happens:
RuntimeError: CUDA out of memory. Tried to allocate 50.00 MiB (GPU 0; 14.76 GiB total capacity; 13.69 GiB already allocated; 11.75 MiB free; 13.77 GiB reserved in total by PyTorch) If reserved memory

[2022-09-29 14:10] Taghreed7878 commented on #2950
Are there any guesses why this is happening?

Could sentences length cause this issue?

[2022-09-30 01:56] yaoysyao opened #2951 "How to set up the video card used"
I found that the default is 'cuda:0', now I want to modify to a different graphics card, how do I set it?
![image](https://user-images.githubusercontent.com/38513384/193173504-c225d3ba-a4d0-4c44-b3e5-2f490b4da792.png)

[2022-09-30 01:57] #2951 closed

[2022-09-30 01:58] yaoysyao opened #2952 "How to change the cuda:0"
I found that the default is 'cuda:0', now I want to modify to a different graphics card,such as '6,7,8' how do I set it?
![image](https://user-images.githubusercontent.com/38513384/193173773-d82e75d5-9063-4f68-8bf2-f2e45e52a4cf.png)

[2022-09-30 01:59] alanakbik commented on #2952
At the beginning of your code, set the global variable:

[code]

[2022-09-30 02:10] yaoysyao commented on #2952
Thanks very much

[2022-09-30 02:10] #2952 closed

[2022-09-30 12:25] ksachdeva11 commented on #2626
@pg020196 updating the flair version to 0.11 helped. Thanks a lot!

[2022-10-01 03:10] yaoysyao opened #2953 "How to use the trained model for named entity recognition"
I've trained a named entity-related model, now how can I use the model to recognize named entities in my own sentences? Can you provide relevant examples? I looked at this case
`model = SequenceTagger.load('resources/taggers/example-upos/final-model.pt')
sentence = Sentence('I love Berlin')
model.predict(sentence)
print(sentence.to_tagged_string())`
But the results seemed different from what I wan

[2022-10-01 10:29] fernando080 opened #2954 "Error in trainer when schedule is OneCyclelr. "Tried to step {} times. The specified number of total steps is {}""
### The Bug
In the common use of OneCyclelr during a training process it won't present any error, but when you set **train_with_test** (as you do with dev), is necesary to recalculate the total number of steps due to the dataset_size have been increased. You can check it in the screenshot below.

### Code to Reproduce
I think you coul reproduce it with a simple training set and the Sequencetagger.

[2022-10-01 19:45] jonashaag commented on #2640
Hi all, I'm interested in this as well, to speed up Flair inference. Do you have any measurements of performance of some models? I'd be interested in GPU vs. CPU vanilla vs. CPU ONNX/TorchScript.

[2022-10-02 21:09] helpmefindaname commented on #2640
Hi @jonashaag
I did some evaluation for the TransformerEmbeddings in [this PR](https://github.com/flairNLP/flair/pull/2643).
Notice that the times heavily depend on your devices. A cheap CPU will be way slower than a strong CPU and same for GPU. At the end, you have to evaluate it yourself for your hardware

[2022-10-03 06:36] jonashaag commented on #2640
I can’t find any numbers there. Can you please point me to them?

[2022-10-03 09:07] irg1008 commented on #2914
I have seen flair models working with HF inference API, and for me is working when using flair locally.

Can we not use the flair models with the inference API? An if we can, how? I having some trouble finding info on this subject

I have tried the tutorials above but I don't know the one you are referring to

[2022-10-03 09:57] irg1008 commented on #2652
Hi! How were you able to solve it and use flair model in hugging face?? I am going crazy

Thanks

[2022-10-03 11:13] mehadi92 opened #2955 "How to show each predicted BIOES tag correspondng to token during inferance"
Using the following script,
[code]
Give Span information. Is it possible to give each BIOES tag corresponding to each token

[2022-10-04 07:15] mehadi92 commented on #2955
This can be achieved by passing `force_token_predictions=True` in `predict` method
[code]

[2022-10-05 21:55] helpmefindaname commented on #2640
sorry, wrong PR, I meant this one: https://github.com/flairNLP/flair/pull/2739

[2022-10-06 09:45] #2955 closed

[2022-10-06 13:29] fernando080 commented on #2884
I'm really interested on this too

[2022-10-11 19:33] RXminuS opened #2957 "Numberbatch Multi-Lingual Aligned Embeddings"
I've been looking into adding [Numberbatch](https://github.com/commonsense/conceptnet-numberbatch) embeddings to Flair and although it's easy to do so with just the word2vec/glove format I just wanted to start up a discussion here to quickly ask some feedback on some potential interesting enhancements that stacking in Numberbatch embeddings could offer.

Numberbatch (my autocorrect keeps changing

[2022-10-12 17:57] ZeusFSX opened #2958 "Difference train vs fine_tune"
What is the difference between method .train and .fine_tune?  For example, if I want to train a Transformer for text classification, should I prefer fine_tune or train?

[2022-10-12 19:51] ZeusFSX commented on #2958
already answered in https://github.com/flairNLP/flair/issues/2934#issuecomment-1253553410

[2022-10-12 19:51] #2958 closed

[2022-10-13 11:02] ZeusFSX opened #2959 "Export ONNX failed"
**Describe the bug**
I try export NER model by the [tutorial](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_13_TRANSFORMERS_PRODUCTION.md)  and it failed with error
`TypeError: TransformerEmbeddings.forward() missing 1 required positional argument: 'lengths'`

**To Reproduce**
[tutorial](https://github.com/flairNLP/flair/blob/master/resources/docs/TUTORIAL_13_TRANSFORMERS_P

[2022-10-13 13:33] thlor opened #2960 "Missing docstring parameters for ModelTrainer.train()"
While most of the parameters of `ModelTrainer` class' `train()` method are documented, the following (keyworded) parameters have no docstring documentations:

- `eval_batch_size`
- `initial_extra_patience`
- `anneal_with_prestarts`
- `anneal_against_dev_loss`
- `batch_growth_annealing`
- `write_weights`
- `use_amp`
- `amp_opt_level`
- `use_swa`
- `use_final_model_for_eval`
- `gold_label_dictionary

[2022-10-13 15:33] DanrunFR opened #2962 "Can't load local NER model"
Hi,

I trained a NER model following your tutorial [here](https://medium.com/thecyphy/training-custom-ner-model-using-flair-df1f9ea9c762), which btw is very nice and clear, thank you so much. However when I try to load the trained tagger, `SequenceTagger` doesn't seem to recognize the local path. It keeps trying to download the model from huggingface repo. Here's the error I got:

[code]

I have c

[2022-10-14 10:56] paulommaia opened #2963 "Different values of "support" metric and test corpus size?"
When starting the training process in FLAIR (NER) using a custom dataset with the BIO format for the annotations, I'm seeing:
"Corpus: 173 train + 21 dev + 29 test sentences"

In the final classification report, it's just displaying the support metric as "14" samples. Is this expected and am I missing something?

Thanks

[2022-10-15 21:06] #2760 closed

[2022-10-15 21:06] #2764 closed

[2022-10-15 21:06] #2765 closed

[2022-10-15 21:06] #2771 closed

[2022-10-15 21:06] #2770 closed

[2022-10-15 21:06] #2772 closed

[2022-10-15 21:06] #2781 closed

[2022-10-15 21:06] #2782 closed

[2022-10-15 21:07] #2727 closed

[2022-10-15 21:07] #2733 closed

[2022-10-15 21:07] #2738 closed

[2022-10-15 21:07] #2745 closed

[2022-10-17 07:21] boegel commented on #2759
As far as I know this problem still stands, so it should not be closed? cc @alanakbik

[2022-10-18 14:52] klimentij opened #2964 "Can't reproduce export_onnx example from TUTORIAL_13"
**Describe the bug**
When I try to export `ner-large` transformer embeddings to ONNX, I see an error `TypeError: forward() missing 1 required positional argument: 'lengths'`

**To Reproduce**

1. Install Flair==0.11.3 from git repo: `pip install git+https://github.com/flairNLP/flair.git` (`TransformerOnnxEmbeddings` class is not available when installed from pip)
2. Run code from the tutorial 13 w

[2022-10-19 01:43] ToonTalk opened #2965 "flair/pos-english on Hugging Face reports "No token was detected""
**Describe the bug**
"No token was detected" reported

**To Reproduce**
Visit https://huggingface.co/flair/pos-english and click on Compute button

**Expected behavior**
parts of speech displayed

[2022-10-20 14:31] LangLoffelLako commented on #609
Hi,
I am someone buffled by the `BAD EPOCHS (no improvement)` counter as well. During training it shows 4, no matter how many epochs I train. Also the counter is at 4 already after the first epoch, which seems counterintuitive.
![Bad_epochs_bug](https://user-images.githubusercontent.com/49274015/196976685-e48881f9-a658-4538-871b-186a4ab2c7a9.PNG)
Can someone explain what I am missing here?

[2022-10-20 16:03] valeriosofi commented on #2964
Hi @klimentij, please try to uninstall it and then install it again with `pip install git+https://github.com/valeriosofi/flair.git@nebullvm`, you were missing the branch info in your command ;)

[2022-10-20 16:17] klimentij commented on #2964
@valeriosofi re-tried with the branch info, the same error

[2022-10-20 19:52] valeriosofi commented on #2964
@klimentij ok I think that you are using pytorch>=1.12, you can solve the error by installing and using pytorch 1.11. It looks like that from 1.12 they changed the input format of the input data in the function torch.onnx.export. You should change this part in the file `/flair/flair/embeddings/transformer.py`
[code]
like this:
[code]
Unfortunately, this will fail because the new versions of pytorc

[2022-10-20 19:54] klimentij commented on #2964
True, I’ve tried all versions down to 1.09 - this error is gone, but
there’s a different error

On Thu, 20 Oct 2022 at 14:52 Valerio Sofi ***@***.***> wrote:

[2022-10-20 19:57] valeriosofi commented on #2964
@klimentij I've just tried on two different systems with pytorch 1.11 and it works for me

[2022-10-21 08:35] sbwiecko commented on #2833
Thank you @alanakbik, `pip install git+https://github.com/flairNLP/flair` solved the issue on my installation 👍

[2022-10-21 08:37] sbwiecko commented on #2854
There is an issue with the current version 0.11.3 and this should be solved with version 0.12 in a few weeks, see the details [there](https://github.com/flairNLP/flair/issues/2833#issue-1282620313).
For the time being, you can install the patched version from the Master/Main branch `pip install git+https://github.com/flairNLP/flair`

[2022-10-21 11:58] shahafp opened #2966 "Fine-tune on specific domain"
Hi,
We chose to use Flair for our domain-specific NER model.
So far we got excellent results!

There is something that I would like to clarify, We are tagging data all the time, which means that every couple of weeks we get another batch of labeled data.

For the first batch, we used TransformerWordEmbeddings with "allenai/longformer-base-4096" because we have long sentences data and then fine_tun

[2022-10-21 18:08] aoezdemir opened #2967 "Unable to load Embeddings due to Connection Error"
Hello,

I am trying to load WordEmbeddings as described in your Tutorial in Google Cola, as well as in my own virtual environment in PyCharm:

[code]
And get the following Error in both:
`ConnectionError: HTTPSConnectionPool(host='flair.informatik.hu-berlin.de', port=443): Max retries exceeded with url: /resources/embeddings/token/glove.gensim.vectors.npy (Caused by NewConnectionError('<urllib3.co

[2022-10-22 02:47] LuisReinoso commented on #2967
I have the same problem, it looks like something is wrong with the host:
**flair-version:** 0.11.3

[code]

[2022-10-22 05:30] laura-jan commented on #2967
Hi, I have similar problem:

requests.exceptions.ConnectionError: HTTPSConnectionPool(host='flair.informatik.hu-berlin.de', port=443): Max retries exceeded with url: /resources/embeddings/token/no-wiki-fasttext-300d-1M.vectors.npy (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f353ab4bbd0>: Failed to establish a new connection: [Errno 110] Connection timed out'))

[2022-10-22 11:34] uadnan commented on #2967
Similar problem: Seems like host is down for some reasons:

[code]

[2022-10-22 21:20] dumblob commented on #2432
Still interested...

[2022-10-23 05:53] pashna commented on #2603
I have the same issue

[2022-10-24 13:45] KINJALMARU16 commented on #2946
Hi,
Does anyone have any idea about this?

[2022-10-25 15:14] movingabout opened #2968 "german pretrained biomedical models?"
Hello,

Are there also **german** pretrained models for biomedical texts available?

Thanks!

[2022-10-25 15:31] alanakbik commented on #2946
Could you provide more details on this? What Flair model class did you train?

[2022-10-25 15:38] MariaLuisaCroci opened #2969 "Unable to pip3 install flair --error on sentencepiece"
I tried in a jupyter notebook to install the library as ```!pip3 install flair```.

However, after several requirements already satisfied, this error is returned:

[code]

I'm working on Mac OS, python version '3.10.7'.

I also tried to ```pip3 install sentencepiece``` and this works fine, but flair library doesn't work yet.

[2022-10-25 15:48] alanakbik commented on #2969
Hello @MariaLuisaCroci, this could be because of the python version used. Could you try with 3.7?

We are currently testing with 3.7, but you are using 3.10 which is still in "bugfix" stage (https://devguide.python.org/versions/).

[2022-10-25 15:50] alanakbik commented on #2969
@MariaLuisaCroci I just see this is a duplicate of #2833 and can be fixed if you install with `pip install git+https://github.com/flairNLP/flair`. Then it should also work with Python 3.10.

We will release a new Flair version soon so it will work out of the box again.

[2022-10-25 15:52] alanakbik commented on #609
Hello @LangLoffelLako, the BAD EPOCHS printout only makes sense if used in combination with annealing. This is default in training, but likely you are doing fine-tuning in which case you can ignore the printout. I'll put in a PR to remove this since I agree it is confusing.

[2022-10-25 15:54] MariaLuisaCroci commented on #2969
that works great! Thanks! :)

[2022-10-25 16:23] KINJALMARU16 commented on #2946
I have Trained Seq2Seq NER model with max epoch - 40 on CPU environment.
Please find below image of how I have trained the model
![image](https://user-images.githubusercontent.com/17974502/197828922-c7ea5788-bb6e-4b97-bfa9-40f10db3b6f1.png)

But when I am using the trained model text it is giving me error which is mentioned in question
while using GPU environment.

[2022-10-25 19:13] shahafp commented on #2966
Thanks for your response!!
Do you have any idea regarding the OOM issue?
I tried to use the filter_long_sentences but sometimes it didn't help

[2022-10-25 19:26] dumblob commented on #2432
I am just interested in the optimization of speed - if the bottle neck is reading from a file then I would welcome an end-to-end example how to approach it :wink:.

Otherwise yes, the question has been thoroughly answered and I am thankful for that! Thanks @mariosaenger !

[2022-10-25 20:12] alanakbik commented on #2966
Hello @shahafp it could be because in your code you are first loading the embeddings, then loading the trained model which includes another instance of the embeddings. So you're loading the embeddings twice which probably fills up a lot of GPU memory.

Try moving the `embeddings = TransformerWordEmbeddings` part into the `if new_model:` statement so they don't get loaded when you load an already t

[2022-10-25 20:32] shahafp commented on #2966
Hey @alanakbik , actually I don’t execute the load embedding cell, to avoid what you just said

[2022-10-25 20:41] alanakbik commented on #2962
Hello @DanrunFR if the loader does not find a file on the specified path, it tries a lookup on the huggingface repo. So the most likely reason is that somehow the provided path is not correct.

[2022-10-26 10:12] alanakbik commented on #2960
PR merged, thanks again!

[2022-10-26 10:12] #2960 closed

[2022-10-26 14:21] stefan-it opened #2971 "Add support for new MasakhaNER v2 dataset"
Hi,

MasakhaNER v2 was recently [accepted at EMNLP 20220](https://twitter.com/davlanade/status/1578010346157400064) and the new dataset is already online [available here](https://github.com/masakhane-io/masakhane-ner/tree/main/MasakhaNER2.0/data).

It should be relatively easy to add this dataset.

The current existing v1 has the following arguments:

https://github.com/flairNLP/flair/blob/8d27a38

[2022-10-26 14:22] stefan-it commented on #2971
This approach would avoid adding a new dataset called e.g. `NER_MASAKHANE_v2` which includes duplicated code. What do you thin @alanakbik  :thinking:

[2022-10-26 15:02] rafgonlop1 opened #2972 "Get original text after tokenizer in flair 0.11"
Hi guys! I am rewrting code that previously used flair 0.10 to flair 0.11 and I'm running into some issues. It originally took an OCR phrase, instantiated a Sentence object, and predicted a topic using a torch model. So far everything perfect in both versions.

To see the different topics of the sentence, in flair 0.10 I had to access the "entities" while in 0.11 I access the "labels" (which in 0.

[2022-10-26 18:56] mghasemizade opened #2973 "flair is not a package"
**Describe the bug**
After trying to run examples of the Doc Word Embedding in the docs, this is what I get:
ModuleNotFoundError: No module named 'flair.embeddings'; 'flair' is not a package

**To Reproduce**
from flair.embeddings import TransformerDocumentEmbeddings

# init embedding
embedding = TransformerDocumentEmbeddings('bert-base-uncased')

# create a sentence
sentence = Sentence('The grass